[2022-01-15 20:03] marcswiss opened #1 "2fa_state_changed error after enter refresh token"
Just after enter refresh token i got follow error in logs...
On UI i just got "Unexpected error"

[code]

[2022-01-15 20:11] iMicknl commented on #1
Thanks! Do you perhaps have no 2 factor authentication on your Google Account?

Could you give https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/fix/1.zip a try? Unzip `custom_components/nest_protect` and overwrite your current `nest_protect` folder.

[2022-01-15 21:34] geert36 commented on #1
I had the same issue. The fix does solve the problem!

[2022-01-15 21:35] iMicknl opened #4 "Implement long polling subscribe endpoint for (near) real-time updates"
Nest has an API endpoint (`/v6/subscribe`) where you can send a POST and retrieve near real-time updates when an updates comes in. After this updated bucket, you need to resubscribe to this endpoint.

Samples:
- https://github.com/Brandawg93/homebridge-nest-cam/blob/25f26a28d88d25d476537a0766d14d395ef7b2dc/src/nest/session.ts#L104
- https://github.com/chrisjshull/homebridge-nest/blob/bc724b7694854

[2022-01-15 21:38] iMicknl commented on #1
Thanks @geert36! Not sure where this key is froming come, since I have it present in my response. 0.1.1 has this fix.

Do all other sensors show up / work? (with current limitations taken into account).

[2022-01-15 21:38] #1 closed

[2022-01-15 21:40] iMicknl opened #5 "Add Nest Protect logo to brands repository"
Add new logo to https://github.com/home-assistant/brands or create a symlink to the core Nest integration.

[2022-01-15 21:50] geert36 commented on #1
Most of the sensors does show up. I only see some difference here (compared to your post [here](https://community.home-assistant.io/t/support-for-nest-protect/310084/20)).
![image](https://user-images.githubusercontent.com/77209691/149638754-21e348d0-25bb-417b-9c33-76fc9856591b.png)

[2022-01-15 21:56] iMicknl commented on #1
Thanks! @geert36 do the normal sensor (CO / Smoke / Heat / Occupancy) work as well? And is your device model Topaz-2.33 as well?

I wonder why you don't have the "Replace By" sensor.

[2022-01-15 21:58] iMicknl opened #7 "Move pynest to pypi module"
### Description

When this integration is a bit further, it would be good to move the `pynest` folder back to https://github.com/iMicknl/python-nest-api.

### Device (optional)

_No response_

### Additional information

_No response_

[2022-01-15 22:16] geert36 commented on #1
The normal sensors work as well!
Sorry, I forget to mention, I have a battery powered Nest (Topaz-2.9).

[2022-01-15 22:20] marcswiss commented on #1
Sorry, for my slow response. i had originally 2fa disabled on my house account, but after enabling was still not work. Proberly google cache something..

However with newst version /patch is now working. I found all my 6 nest protect ;)
Thx @geert36  and @iMicknl

i have Topaz-2.7 and 2.9

![image](https://user-images.githubusercontent.com/51174465/149639436-7b8159e5-6b25-43b1-8bcc-9284566152ea.pn

[2022-01-15 22:32] iMicknl commented on #1
Great, thanks! At least the basics work for now 😃. You will see some more updates in the coming weeks.

[2022-01-15 23:11] iMicknl opened #8 "Improve code quality and handle TODO's"
### Description

- [x] Use unique id in Config Flow

[2022-01-19 04:30] bcantera opened #9 "CO Status shows off"
### The problem

Hi there! Congratulations for this great job! Just testing out this integration which worked fine out of the box (copying nest_protect to custom_components folder and restarting ha).
I found that CO status shows off in my device, is this correct? Since I cannot see this in nest application I am not sure if this is an expected behaviour, but I think the feedback will be welcomed, s

[2022-01-19 13:39] iMicknl commented on #9
I think this is the correct state, since it should be 'off' when there is no CO detected.

From 2022.2 (upcoming update) onwards, there is a CO device class for binary sensor, thus perhaps that will show 'clear' as well in the interface.

[2022-01-19 13:51] bcantera commented on #9
Great thanks, I forgot to mention that my nest is battery model, just as feedback because I saw you mention it on ha forum.

Thank you again 👍🏻

[2022-01-19 13:51] #9 closed

[2022-01-19 13:55] iMicknl commented on #9
Hopefully I will be able to work on the real-time updates soon! Until that point, the integration is a bit worthless.

[2022-01-19 13:58] bcantera commented on #9
Yep I am aware, I also saw this in the forum, but taking it as a proof of concept I think it went perfect, if you need any help I can contribute with the python code part if needed, just ask and I ping you on ds

[2022-01-19 13:59] iMicknl commented on #9
Contributions are always welcome! 😉. I am currently spending a lot of time on the Overkiz / Somfy integration in core, thus this currently comes on the second place (if I even have time :D).

[2022-01-28 09:26] Vabis1010 opened #11 "not detected"
### The problem

don't know if it schould be like this but my occupancy and smoke detection sensors gif state not detected. When i see the example pic in the github it schould give other states or am i wrong?
Happy with the program because now i can integreate my nestprotects in the automations.

Ton

### What version of this integration (ha-nest-protect) has the issue?

0.1.1

### What version of

[2022-01-28 13:11] iMicknl commented on #11
Could you maybe add a picture of what you see to start with? From there we could investigate and perhaps turn on more debug logging.

[2022-01-28 13:59] Vabis1010 commented on #11
![Screenshot_20220128-134850_Chrome](https://user-images.githubusercontent.com/86514586/151559460-db36485e-ec7e-4116-8d3e-e9f2af95cf06.jpg)

[2022-01-28 13:59] Vabis1010 commented on #11
I hope ik help YouTube out with thuis.

[2022-01-28 14:00] Vabis1010 commented on #11
![Screenshot_20220128-134850_Chrome](https://user-images.githubusercontent.com/86514586/151559733-79876879-17c0-4b22-8125-79b18df30f88.jpg)

[2022-01-28 14:20] iMicknl commented on #11
Thanks, this clarifies the situation. Try changing the Home Assistant language for your user to English, and compare the screenshots again. 😉

In Dutch 'Niet gedetecteerd' means the same as 'Clear' in English. There is no smoke or occupancy detected, thus you should be happy! 😄

[2022-01-28 14:20] #11 closed

[2022-01-28 14:26] Vabis1010 commented on #11
THanks for the update. At leest nog iets know my nest protects are running oke
and i can use them in automations. Is it true Thatcher the occupancy sensor online works on wired protects and not on battery operTed one

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Mick Vleeshouwer ***@***.***>
Sent: Friday, January 28, 2022 3:21:14 PM
To: iMicknl/ha-

[2022-01-28 14:59] iMicknl commented on #11
It doesn't make (a lot of) sense to use them in your integrations yet, since the state of your sensors will only update when you start Home Assistant (or reload the integration). However, these live updates will come in a future version, so at least you are ready.

If I am correct, occupancy only works on wired protects, thus I am not sure why they show up for you. We can investigate that later, w

[2022-01-30 18:58] iMicknl commented on #5
https://github.com/home-assistant/brands/pull/3125

[2022-02-01 21:21] operinko commented on #9
Commenting on a closed ticket, but:
The way the CO2 sensor is handled in the HomeBridge integration (where it does show as Clear, instead of Off) is they've used device_class: gas for the sensor.

[2022-02-01 23:46] iMicknl commented on #9
We are indeed using `carbonmonoxide`, which has been added to front-end / back-end in upcoming 2022.2 release. -> https://github.com/home-assistant/frontend/pull/10935

[2022-02-18 23:36] #5 closed

[2022-02-19 02:52] cybernard opened #22 "Expose actual values (e.g. temperature / heat / light)"
### Description

First, thanks for your time and effort in creating this plugin, it just worked.

If I do an export from google, I actually get temperatures, humidity and etc as numeric values.  Is there any plan to give access to these values?  Right now it just says "Normal", and I would like to have the actual values.

### Device (optional)

Nest Protect wired

### Additional information

_No r

[2022-02-19 10:25] iMicknl commented on #22
Can you tell a bit more about how you can do this export? As far as I am aware, there is no way to access these values.

It is not present in the API we currently use at least. And the Homebridge-nest plug-in doesn't have this as well.

[2022-02-19 15:21] cybernard commented on #22
Yes, I can.  Goto http://takeout.google.com
2. Sign in with your google account
3. Select "Deselect all"
4. Scroll down, and check **Nest**
5. Here select the frequency and type
6. It defaults to once and zip so I just leave it
7. Create Export
8. Wait between 10 minutes and 12 hours depending on how heavily loaded the google servers.
9. download the ZIP file
10. open the zip file
11. There are fo

[2022-02-19 16:10] iMicknl commented on #22
|Time             |Event Description        |MaxValue   |
|-----------------|-------------------------|-----------|
|2022-01-11T12:30Z| AmbientLightSensorbucket| 63.000000 |
|2022-01-11T12:30Z| Humiditybucket          | 52.400000 |
|2022-01-11T12:30Z| Passiveinfraredbucket   | 214.000000|
|2022-01-11T12:30Z| Temperaturebucket       | 20.800000 |

Interesting (and creepy) to see that Google collect

[2022-02-19 16:13] iMicknl commented on #22
|             |   |                      |   |
|-------------|---|----------------------|---|
|2022-01-23T19:13:00.931Z| 2022-01-23T19:13:04.811Z| Pathlight            | Duration milliseconds: 3880|
|2022-01-23T19:13:08.061Z| 2022-01-23T19:13:11.360Z| Pathlight            | Duration milliseconds: 3299|
|2022-01-23T19:13:18.540Z| 2022-01-23T19:13:37.365Z| Pathlight            | Duration millisecond

[2022-02-19 17:01] cybernard commented on #22
I guess as a temporary measure would it be reasonable to allow the import of said files into Home Assistant?  They are after all just CSV files.

[2022-02-19 17:03] iMicknl commented on #22
What would be the use-case? Since you will only have historical data at that point.

[2022-02-19 17:18] cybernard commented on #22
While, yes it is historical data, I personally am trying to get ALL my house data into a single place.  However, to be fair some of the data is only a few hours old.  Now if I have to have 90% their and 10 percent in csv files it defeats the point.  Plus Home Assistant generates graphs automatically, and that is one thing I really want.  Also I want to compare the temperature at ceiling level and

[2022-02-19 17:30] iMicknl commented on #22
I will leave this issue open for others, since I won't be implementing this :). It is quite some hassle and I won't have the time to implement this.

I can imagine your use-case and perhaps you can do something with https://www.home-assistant.io/integrations/file/#sensor.

[2022-03-01 19:26] benotje opened #23 "How do you trigger the smoke sensor status"
### The problem

 Real-time updates smoke sensor is Nest Protect (Kitchen) Smoke Status "Not Detected"
I hope that can be solved first then we can show the status on the dashboard
that would be really cool

![image](https://user-images.githubusercontent.com/25820512/156233845-66cffa34-2e73-4953-bb08-442a12ff4377.png)

### What version of this integration (ha-nest-protect) has the issue?

0.1.0

##

[2022-03-01 20:29] iMicknl commented on #23
@benotje thanks for reporting. Just checking; are you aware that real-time updates are not possible yet? (for none of the entities). This is currently stated in the README.

In order to see if your smoke status works, you could try to trigger the smoke alarm and than reload the integration in Home Assistant. (press the dots next to the integration and pick 'reload'). This will show the last availa

[2022-03-03 01:47] zhudhjen opened #25 "Support for Remote Mute Alarms"
### Description

Hi Devs, thank you so much for bringing this great integration to everyone!

So I want to learn about a detailed feature that seems not mentioned in README. Does this integration support remote silencing alarm now? If not, is this on the roadmap that we are going to support? Or is it just not possible for now due to API limitations?

### Device (optional)

Nest Protect

### Additi

[2022-03-04 13:09] iMicknl commented on #25
Is this supported within the Nest App? If so; in theory this could be supported, however don't expect it any time soon. In order to execute commands, we would need to use a different (protobuf) API and I didn't really dig into that.

[2022-03-04 13:45] operinko commented on #25
It is supported in the Nest App (as in, you first get a notification as soon as the alarm says "Caution, smoke in X room. You might hear an alarm". And that notification has an option to silence the alarm already. Same effect as pushing the physical button at that point of the alert cycle.

[2022-03-04 14:38] #4 closed

[2022-03-04 14:39] #23 closed

[2022-03-04 17:52] mattdm commented on #25
For what it's worth:

1. Our kitchen isn't ventilated well enough, so whenever we burn toast I use this feature.
2. However... I'm concerned about the ramifications of making it easy to silence alarms via automation. Too easy to be clever with "If my smart toaster has been active in the last five minutes, automatically silence any alarms in the kitchen" — and then your house burns down.
3. So, it

[2022-03-07 06:51] RealGandy opened #27 "Support for battery health for wired protects"
### Description

Hi

The old version also supported a status for the backup battery for wired nest protects. Is this something you can look at adding if its available?
Thanks

### Device (optional)

_No response_

### Additional information

_No response_

[2022-03-07 09:10] iMicknl commented on #27
This should be possible, if the 'old version' has it as well. Did you use 'badnest' or 'homebridge-nest' before?

I have a wired nest protect as well, and I have a battery sensor present by the way. It is a binary sensor (Normal / Empty).

<img width="252" alt="image" src="https://user-images.githubusercontent.com/1424596/157001190-605315bb-3c64-4c21-9b71-20e249312c31.png">

[2022-03-07 09:11] iMicknl commented on #25
I figured out how to the update endpoint works, so this should be possible. Does someone know if it is also possible to remote mute via the Nest web app? There it is relatively easy to look at the HTTP requests and send me the payload, so I know what to implement.

[2022-03-07 11:40] RealGandy commented on #27
Ah, OK.

I now see that there are a whole host of other entities available that didn't immediately show up in the default views.

I'm happy for this request to be closed as the data is already available.

Does this just grab updates from API, so if a device does identify smoke HA won't show this until the next request to the API? Or does it also register for webhook pushes when certain events occu

[2022-03-07 11:43] iMicknl commented on #27
Indeed, this integration uses the Home Assistant entity categories to divide the entities by type. In your default lovelace interface, you will only see the main entities by default.

The integration subscribes to new events, thus these should be almost instant. Since you have a wired protect, you can check this with the occupancy. These updates should be in in 3-5 seconds.

[2022-03-07 11:43] #27 closed

[2022-03-09 07:03] B-Hartley opened #32 "Brackets in device name breaks home assistant device naming"
### The problem

Hi,

Firstly, thanks for this integration, I've been running a homebridge docker container just to handle these, so this is a great help.

In the Nest app, my devices are called......

Downstairs
Garage
Loft
Upstairs (Kate's)
Upstairs (Stairs)

The last two are in the same space at different ends of the room.

In Home Assistant the integration names them.........
Nest Protect (Dow

[2022-03-09 10:24] iMicknl commented on #32
Thanks for the suggestion, @B-Hartley! I don't use the label feature in Nest app myself, thus I wasn't sure what a good choice would be.

Let's see what a good default naming scheme would be for new users. Eventually this is easy to change in Home Assistant, but it makes sense to standardize this a bit.

Would it make sense to always prefix the name with Nest Protect and then the room (or label ad

[2022-03-09 19:53] Ibycus314 opened #33 "Occupancy ‘stuck’"
### The problem

I’m noticed the occupancy sensor got stuck at ‘on’ today until I rebooted. First time I noticed, and fixed on rebooting home assistant, but thought worth reporting…

### What version of this integration (ha-nest-protect) has the issue?

0.2.0

### What version of Home Assistant Core has the issue?

2022.3.3

### Device / Model

Nest wired topaz 2.33 firmware 3.4.5

### Diagnostics

[2022-03-09 20:47] iMicknl commented on #33
Thanks! Could you turn on debug logging? (see README). This will add some more information when you face this issue again.

[2022-03-10 02:39] Ibycus314 commented on #33
Will do. I think *maybe* what happened is some kind of connection was broken while presence was detected. Looking deeper I actually had multiple integrations hiccup the same way at the same time…

[2022-03-10 12:44] fokcuk commented on #22
Very interesting info, but as mentioned not much use if you cannot get the live data. You will probably be able to if they ever decided to have proper api access. But with some confusing articles that I have read, it looks as though they have abandoned Nest protect

[2022-03-10 13:55] iMicknl commented on #22
Even when they add it to the SDM API, I don't think they will directly expose these values. They currently don't expose these values in their Nest app as well..

[2022-03-10 21:22] cybernard commented on #22
I am not so concerned with Google selling as the 100,000 other companies
who have already done it.  To single Google out over an industry standard
practice, seems ridiculous.

My biggest problem is that they make it difficult for ME to get for
legitimate reasons.

Jonathan

On Thu, Mar 10, 2022 at 11:51 AM OscarHanzely ***@***.***>
wrote:

[2022-03-11 10:38] iMicknl commented on #33
It should be in your log already by the way, logged as an exception.

[2022-03-11 10:44] iMicknl opened #34 "Improve exception handling"
### The problem

Since this integration is still work in progress, I didn't add good error handling / retry logic yet. This will need to be added to make sure the integration is reliable and will always receive state updates.

### What version of this integration (ha-nest-protect) has the issue?

0.3.0

### What version of Home Assistant Core has the issue?

2022.2.0

### Device / Model

_No respo

[2022-03-11 12:13] iMicknl commented on #34
[code]

[2022-03-11 18:53] perjury opened #38 "Throwin pynest exception error"
### The problem

I'm seeing errors logged on an hourly basis:
I don't know which device is causing it - I have 6 the same.

### What version of this integration (ha-nest-protect) has the issue?

0.3.0

### What version of Home Assistant Core has the issue?

core-2022.3.3

### Device / Model

Topaz-2.7

### Diagnostics information

[nest_protect-8e4132b1bc464e9959d3b69a916230d3-Nest Protect (First

[2022-03-12 13:58] iMicknl commented on #38
Thanks for reporting, this is an error on the service side, but we need better retry / backoff logic for this.

I will close this, since we will track this in https://github.com/iMicknl/ha-nest-protect/issues/34. :)

[2022-03-12 13:58] #38 closed

[2022-03-12 19:47] operinko opened #44 "Deprecations in 2022.4"
### The problem

[code]

Offending sensors:
buzzer_test, pir_test, humidity_test, heat_test, led_test

### What version of this integration (ha-nest-protect) has the issue?

v0.3.1

### What version of Home Assistant Core has the issue?

core-2022.3.3

### Device / Model

Nest Protect (Wired), Topaz-2.7

### Diagnostics information

_No response_

### Home Assistant log

<details><summary>Logs</su

[2022-03-12 20:25] Vabis1010 opened #45 "Change entities name"
### Description

As in have my homeassistant in dutch i have the following problem. On my lovelace when i look on for example nestprotect smoke it states 'niet beschikbaar. Not availible. Is rather confucianisme. Is there a wat to adjust?
Woud be a gratis improvement.
Thans on advance Ton

### Device (optional)

_No response_

### Additional information

_No response_

[2022-03-12 22:50] Christianb233 commented on #33
Thank you very much for this work !
Just to understand : does the "occupancy" sensor deals with the motion detection ?
Indeed, this sensor keeps 'off' even when I move in front of the nest protect.
There is nothing in the debug logging

[2022-03-13 00:10] iMicknl commented on #44
Thanks for reporting, I will have a look and fix this :).

[2022-03-13 00:12] iMicknl commented on #33
@Christianb233 it seems you have another issue, can you perhaps create a new issue for this and add your diagnostics information? If you have a wired nest protect, it should show the occupancy.

[2022-03-13 00:16] iMicknl commented on #45
<img width="484" alt="Screen Shot 2022-03-13 at 01 14 41" src="https://user-images.githubusercontent.com/1424596/158039469-86359f2a-1c26-4fd7-98eb-f323e2d38e15.png">

Are you sure it says 'Niet beschikbaar'? Mine says 'Niet gedetecteerd'. We cannot change this, since this is the translation of Home Assistant, however if it says 'Niet beschikbaar' we have another problem.

Could you include your di

[2022-03-13 00:24] #44 closed

[2022-03-13 00:26] #32 closed

[2022-03-13 03:40] dgriswo commented on #25
You must be within Bluetooth range of the Nest Protect that triggered the alarm to silence it via the app.  There isn't a method to silence via home.nest.com.  https://support.google.com/googlenest/answer/9249356?hl=en

Documentation isn't clear if it uses Bluetooth to silence the Nest directly, or if it detects the Protect device via Bluetooth and silences via an API call to Nest.

If you are too

[2022-03-13 04:32] Ibycus314 commented on #33
So my Home Assistant install died the next day and I’m currently rebuilding… going to chalk it up to ‘sd card failing”

[2022-03-13 08:05] Christianb233 commented on #33
Hello @iMicknl , before creating a new issue; I just precise that my Nest Protects are wifi connected, not wired connected = I don't know if it change your diagnostic ?

[2022-03-13 09:49] wouterwie opened #48 "Occupancy werkt niet"
### The problem

Ik heb 4 Nest Protect's hangen, maar geen van allen geen occupancy weer. Er staat bij allemaal: 'Niet gedetecteerd'.

### What version of this integration (ha-nest-protect) has the issue?

0.3.0

### What version of Home Assistant Core has the issue?

2022.3.3

### Device / Model

Nest Protect battery

### Diagnostics information

_No response_

### Home Assistant log

<details><s

[2022-03-13 12:30] altodd commented on #33
Wired meaning to power - there is a battery version that doesn’t track
occupancy

On Sun, Mar 13, 2022 at 4:05 AM Christianb233 ***@***.***>
wrote:

[2022-03-13 19:41] iMicknl commented on #48
Unfortunately, Nest Protect devices that are battery powered don't provide occupancy. This is a device limitation.

Could you attach your diagnostics information? I would like to double check why this shows up for you, and in a future update I will see if we can disable this for battery powered Nest Protect.

[2022-03-13 19:49] iMicknl commented on #25
Thanks @dgriswo! Eventually, this would require something like Wireshark or Burp suite to investigate or bluetooth is really required. (or if there is an API endpoint that is called after the app validated that you are in Bluetooth reach).

So in short, I don't think this will be integrated very soon, only if someone finds out how this could work.

[2022-03-13 20:46] altodd commented on #25
I could easily test this, I already have a proxy set up, I could see if there is an endpoint called when silenced. Is there an easy way to get it to pop up the silence dialog other than burning some toast or something?

[2022-03-13 20:49] Christianb233 opened #49 "no motion detection"
### The problem

The 'occupancy' sensor stays 'RAS' (nothing to declare in french) even if there is a motion in front of the Nest Protect

### What version of this integration (ha-nest-protect) has the issue?

0.3.2

### What version of Home Assistant Core has the issue?

core-2022.3.3

### Device / Model

Topaz-2.7 Firmware: 3.4rc6 Matériel : Battery

### Diagnostics information

_No response_

#

[2022-03-13 20:54] altodd commented on #49
The battery version of the nest protect doesn't offer occupancy. We will be looking at how to hide this feature if a nest is battery-powered. For now, you can ignore it.

[2022-03-13 20:58] iMicknl commented on #25
@altodd I don't think so... I didn't trigger mine yet, that's why I didn't know how this remote mute would work :D.

[2022-03-13 20:59] iMicknl commented on #49
Duplicate of https://github.com/iMicknl/ha-nest-protect/issues/48. Let's continue the discussion there.

@Christianb233 it would be great if you could include your diagnostics file. I would like to understand which values are different for your device.

[2022-03-13 20:59] #49 closed

[2022-03-13 21:01] B-Hartley commented on #32
Thanks !

[2022-03-13 22:00] Christianb233 commented on #49
@iMicknl do you refer to these information in the device page ?
![image](https://user-images.githubusercontent.com/65049842/158081015-176d8323-e0ed-4ae5-b81c-7c1003688380.png)

[2022-03-13 22:01] iMicknl commented on #49
No, on the left side there should be a button to download diagnostic information.

<img width="363" alt="Screen Shot 2022-03-13 at 23 01 29" src="https://user-images.githubusercontent.com/1424596/158081083-0a547b0e-617b-45b3-bfc3-b71684f490d7.png">

[2022-03-13 22:32] Christianb233 commented on #49
yes found !
[code]

[2022-03-14 09:59] wouterwie commented on #48
[config_entry-nest_protect-d066d1d5d9e9b64ce9766e5367c00774.json.txt](https://github.com/iMicknl/ha-nest-protect/files/8243702/config_entry-nest_protect-d066d1d5d9e9b64ce9766e5367c00774.json.txt)

[2022-03-14 10:54] Daneish opened #50 "Heat Test entity showing 'Problem'"
### The problem

The Nest Protect Heat Test problem entity is in `on`/`Problem` status however the Nest iOS app / web portal are reporting `Everything is ok`.

Manually running a test on the Protect in the Nest app, again reports everything is ok.

All of the other Protect entities (including Heat Status) are reporting as `Normal`/`Clear`/`off`. Restarting HA has no effect on the Heat Test status.

[2022-03-14 11:28] iMicknl commented on #50
[code]

[2022-03-14 12:38] poudenes commented on #50
Have same issue.. I was thinking I have old devices.

[2022-03-14 12:59] Daneish commented on #50
It seems likely that component_heat_test_passed may no longer be used. Searching Google for component_heat_test_passed doesn’t yield many results and none specifically talk about the parameter, they are all just config dumps or screenshots.

A couple of results from [2015](https://community.smartthings.com/t/nest-protect-device-type/4018/120?page=7) and [2016](https://github.com/bwssytems/ha-bridg

[2022-03-14 13:11] Daneish commented on #34
Nice! With debug on I can see that the integration is recovering from the 504 error:
[code]

[2022-03-14 13:16] iMicknl commented on #34
@Daneish which version do you currently run? I would need to double check, but in the last version, a 504 error should not throw an ugly exception like this anymore.

[2022-03-14 13:37] iMicknl commented on #50
Thanks for your extensive research! I couldn't find any good references as well, and I don't have access to the (full) Nest API documentation. I wasn't aware of the doc you shared though, but it seems just for their old API. Currently we use an internal and undocumented API.

I think I will just remove this binary_sensor to avoid this confusion, and we can always add it back if there is a need.

[2022-03-14 14:51] #45 closed

[2022-03-14 14:59] iMicknl commented on #45
Geen probleem! Voor automations kun je 'on' en 'off' gebruiken, omdat het een binary sensor is.

[2022-03-14 15:04] Daneish commented on #34
I'm running v0.3.2, but I can see 0.3.3 is now out, so can jump on that and test if you like?

[2022-03-14 15:12] iMicknl commented on #34
0.3.3 should solve the 504 exception. However, the subscriber still needs some additional love.

[2022-03-14 16:54] iMicknl opened #56 "Expose `Warning` status for Smoke / CO"
### Description

Smoke Status is currently a binary sensor (off = OK, on = Emergency). However, Nest Protect also offers a 'Warning' status.

My preference is to keep the binary sensors, since Home Assistant only has the CO/Smoke/Heat device classes for a binary sensor and many automations are based on binary sensors.

Perhaps we can add a separate (text) sensor that shows the state (OK, Warning,

[2022-03-14 17:28] rsnodgrass opened #57 "Massive number of "sensors""
### Description

Thanks for creating such a SIMPLE integration...and for making something that is device-type specific for the Protects instead of a generate "Nest" integration.

When installed, this seems to create a large number of sensors, rather than the key sensors necessary for 95%+ of use cases along with attributes added to devices and/or entities for the remainder. This requires disabling

[2022-03-14 17:40] iMicknl commented on #57
Thanks for reporting! I understand your issue and I have asked for feedback on the community forum on this topic, where an user responded that all sensors by default would be a good approach. I am open to more opinions, to make a definitive choice:

1. Disable (especially diagnostic) entities by default, and let users enable specific ones they want to use.
**or**
1. All sensors enabled by default

[2022-03-14 17:52] rsnodgrass commented on #57
Auto create key sensors:

Rename to binary_sensor.next_protect_hallway as the PRIMARY entity...as this is Protect is all about smoke status first and foremost....plus all attributes that don't have sensors should be under this primary entity.

[code]
...and the following auto created sensors/switches

[code]
[code]

Auto create switches:

[code]

AND THE REST OF THESE as the attributes on the main

[2022-03-14 17:53] rsnodgrass commented on #57
This allows leaving all the diagnostic "sensors" since they just become attributes and you don't need to have a flag to specific include/exclude diagnostic.

[2022-03-14 18:58] rsnodgrass commented on #57
@operinko I think that is a good idea as well, easy just to have one config to enable all the diagnostic sensors.

[2022-03-15 06:47] Daneish commented on #34
Can confirm, after updating to 0.3.3 I haven’t had any more exceptions, but with Debug on I can see that its still getting a bunch of timeouts:
`DEBUG (MainThread) [custom_components.nest_protect] Subscriber: gateway time-out. Pausing for 2 minutes.`

[2022-03-15 07:31] operinko commented on #57
Maybe have an "Enable all diagnostic sensors" checkbox during initial setup steps?

[2022-03-15 13:13] iMicknl commented on #57
I will keep them as sensors since to align to the Home Assistant best practices. This is why they added the configuration and diagnostic categories to core, so they don't show up in your lovelace dashboards by default.

Thanks everyone for sharing opinions on what would be a good approach! Let's see what we can do the coming time to make this a better experience for new users. I will see if someon

[2022-03-15 16:44] jazzyisj opened #58 "Make replace by sensor a valid timestamp."
### Description

The replace by sensors don't include a time which means HA doesn't see it as a valid timestamp.

![image](https://user-images.githubusercontent.com/44064559/158424821-13831bcc-a49e-48c7-b723-1cedf2f429f6.png)

This means we can't use the timestamp formatting options in the HA front end for entities.  In a case like this a relative time display is more intuitive than just displayin

[2022-03-15 17:54] iMicknl opened #59 "Support Nest Thermostat temperature sensors"
### Description

The eventual goal is to see if this integration can expose the features that are currently missing from the Nest SDM API. One of these features is the temperature access:

**How can you help?**
1. Download https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/kryptonite_temperature_sensors.zip
Extract this file and place `custom_components/nest_protect` in your

[2022-03-15 21:20] iMicknl commented on #59
Unfortunately, only Nest Thermostat sensors are supported. We track the request for the Nest Protect sensors in this issue; https://github.com/iMicknl/ha-nest-protect/issues/22. (but this is not exposed unfortunately).

Providing the data would be great!

[2022-03-15 21:54] iMicknl commented on #58
Thanks for reporting! I don't understand why a sensor with device class `date` does not support the relative display option.

It seems that this will work when we use timestamp as the device class and add the timezone information.

[2022-03-15 23:19] jazzyisj commented on #58
The date option shown on that page will display as a valid timestamp as a date only (rather than datetime).
I agree, it would be nice if dates could also have a relative display option.

[2022-03-16 00:27] ErikSGross commented on #59
Looks like the temperature measurement and battery level are indeed available in the Nest JSON data for the standalone temperature sensors.   That could easily fit into the Home Assistant device model with a temp entity and a diagnostic battery entry.

Here's what it looks like:
[code]

[2022-03-16 00:48] ErikSGross opened #60 "Differentiate Devices In Multiple Homes Present In One Nest Account"
### Description

In the v0.3.3 and earlier, all detected devices apear to be imported into Home Assistant, independent of which Nest home they're installed in.  Importing all Nest devices into a single instance of HA is inconsistent with a single instance of HA being used to interact with a single home.

For example, I'm an authorized/added user to my parents' home so I can manage their Google WiF

[2022-03-16 03:18] cybernard commented on #59
{
  "home_assistant": {
    "installation_type": "Home Assistant OS",
    "version": "2022.3.5",
    "dev": false,
    "hassio": true,
    "virtualenv": false,
    "python_version": "3.9.9",
    "docker": true,
    "arch": "aarch64",
    "timezone": "America/Chicago",
    "os_name": "Linux",
    "os_version": "5.10.92-v8",
    "supervisor": "2022.03.4",
    "host_os": "Home Assistant OS 7.4",

[2022-03-16 03:26] cybernard commented on #59
It says ERROR but then it says ignoring hmmm

2022-03-15 22:11:49 ERROR (MainThread) [homeassistant.components.binary_sensor] Platform nest_protect does not generate unique IDs. ID topaz.18B4300000993625-battery_health_state already exists - ignoring binary_sensor.nest_protect_dining_room_battery_health
2022-03-15 22:11:49 ERROR (MainThread) [homeassistant.components.binary_sensor] Platform nest_p

[2022-03-16 09:56] iMicknl commented on #59
@ErikSGross thanks! Could you try the latest version? https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/kryptonite_temperature_sensors.zip

@cybernard no worries, I already have the required information from someone else. Are you sure that you have a Nest Thermostat? It seems that there is no data which could be due to no thermostat, or not a correct installation of this te

[2022-03-16 10:07] iMicknl commented on #60
Thanks for reporting, @ErikSGross! Good suggestion, I have seen the structure information and we should be able to integrate this with a Config Flow and Options Flow.

However, this will require some work since it would be good to see if we can only pull and subscribe to the buckets of the selected structures.

[2022-03-16 11:43] cybernard commented on #59
Hmm, I think I made a mental mistake.  I saw the next protect and confused my self that it was the temperature sensors inside the nest_protect.  I used to have a Nest Thermostat, but when I saw the ecobee's web gui with automatic graphs I got rid of the nest.  Also it has an existing integration with home assistant.

[2022-03-16 15:42] ErikSGross commented on #59
Looks great!

![image](https://user-images.githubusercontent.com/64566054/158628726-3ba39e81-a5d0-4556-a336-12fc60afaa9b.png)

A few quick comments on the test build:

1. The device should probably be "Nest Temperature Sensor" and not "Nest Thermostat", as the device that's reporting the data is [one of these sensors](https://store.google.com/us/product/nest_temperature_sensor).
2. One error (as m

[2022-03-16 17:38] iMicknl commented on #59
Thanks! This should all be fixed in the last version. https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/kryptonite_temperature_sensors.zip

[2022-03-16 19:03] ErikSGross commented on #59
One other question (perhaps should have its own topic):  do you know what the `quartz` devices are in the Nest data?  I see that `topaz` is the Protect (even listed in the device details in the Nest app), and that `kryptonite` is the standalone Temperature Sensor, but I also have `quartz` devices listed in the diagnostic data for the `ha-nest-protect` integration.

My intital thought is that perha

[2022-03-16 19:08] Vabis1010 commented on #45
Oke bedankt voor de info.

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Mick Vleeshouwer ***@***.***>
Sent: Monday, March 14, 2022 4:11:03 PM
To: iMicknl/ha-nest-protect ***@***.***>
Cc: Vabis1010 ***@***.***>; Author ***@***.***>
Subject: Re: [iMicknl/ha-nest-protect] Change entities name (Issue #45)

De wens is om alleen functies en/of apparaten

[2022-03-16 19:37] iMicknl commented on #59
Exactly, anything that is not supported in SMD API could be supported in this integration, however I won't be spending a lot of time on this. I am trying to set up a good integration / framework for now, that can easily be extended.

You could create another issue with your diagnostics log, using this version: https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/add_more_info.

[2022-03-17 03:42] ErikSGross opened #61 "Add Security Devices"
### Description

When running the version of `nest-protect` that enables all buckets (https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/add_more_info.zip), there are security devices in my account, which I suspect are the Yale x Nest door locks.

In the diagnostics output, the bucket names look like this:
[code]

I don't see any entries in the `object_key` section for these

[2022-03-17 03:57] ErikSGross opened #62 "Add Camera Devices (Doorbells, Hubs, Cameras, etc.)"
### Description

Though the Google SDM API allows access to the cameras integrated into the Nest Hello doorbell and Nest Hub Max products, it does not allow control of the devices.  Additional control and information for these devices is located in the Nest mobile app, so perhaps these devices can be enhanced by this integration.

The doorbell and hub devices are available as `quartz` buckets like

[2022-03-17 04:00] ErikSGross commented on #59
Thanks for the version that dumps out more information @iMicknl!  I've created issues #61 and #62 to track some of the new info I saw.  I also see you can get a list of users and the messages/alerts present in the app, but that seems much less useful to be in Home Assistant to me.

[2022-03-17 12:04] iMicknl commented on #59
Thanks! Would the current temperature sensor implementation be sufficient? Can I merge it and close this issue :).

[2022-03-17 12:06] iMicknl commented on #61
I recall that Yale x Nest locks are not supported in the API I use, but will require a grpc/protobuf endpoint.

If I request the `wwn_security` bucket through the current REST endpoint, I receive the following error:
[code]

So it seems that this one will be harder to implement, however I will keep this issue open to track progress.

[2022-03-17 12:12] iMicknl commented on #62
Thanks! Would you know which values we need to expose (not supported in SDM only!) and which values we need to be able to change? (select or switch?).

(and can you change these settings via https://home.nest.com? In that case, you could have a look at the XHR request as well and share them here).

[2022-03-17 13:18] brooksben11 commented on #34
First off, THANK YOU for working on this.

Just set this up yesterday and it works great, HOWEVER I noticed this morning that the occupancy sensors weren't changing state (some were clear, others detected). I have my router restart every morning at 3am and I noticed that none of them changed state after that time; I'm guessing it timed out since it couldn't reach the interwebs for the 5+ minutes i

[2022-03-17 20:28] jprokopowich opened #63 "Nest Protects motion integration"
### The problem

I have 8 nest protects and some are showing constant occupancy. Since installation integration of devices (over 3 days).

### What version of this integration (ha-nest-protect) has the issue?

0.3.3

### What version of Home Assistant Core has the issue?

core-2022.3.5

### Device / Model

Nest Protect wired (all)

### Diagnostics information

[nest_protect-35892183b4b12d5b93434ae

[2022-03-17 21:53] cybernard commented on #59
{
  "home_assistant": {
    "installation_type": "Home Assistant OS",
    "version": "2022.3.5",
    "dev": false,
    "hassio": true,
    "virtualenv": false,
    "python_version": "3.9.9",
    "docker": true,
    "arch": "aarch64",
    "timezone": "America/Chicago",
    "os_name": "Linux",
    "os_version": "5.10.92-v8",
    "supervisor": "2022.03.4",
    "host_os": "Home Assistant OS 7.5",

[2022-03-17 23:08] iMicknl commented on #59
@cybernard why are you posting your diagnostics here? Am I missing something?

(You don't own a temperature sensor, what this topic is about.)

[2022-03-18 03:20] ErikSGross commented on #59
@iMicknl, the Temperature Sensor devices and entities look good to me!  Unless others have concerns, I say ship it.  Thanks!

[2022-03-18 03:29] ErikSGross commented on #62
As far as things to try to expose to Home Assistant:

- Doorbells: binary_sensor for doorbell ring, motion/person/sound/package sensing; switches for camera on/off, status light on/off, indoor chime on/off, and motion/sound/person/package detection on/off
- Hub Max and other cameras:   motion/person/vehicle/package sensing; switch for camera on/off,  status light on/off,  and motion/sound/person/p

[2022-03-18 03:31] ErikSGross commented on #61
Not sure if this in the same category as the door locks, but I can also see door (open/closed) sensors via home.nest.com.  I don't see a bucket for them in the current diagnostic output, though.  Any thoughts on how to figure out whether they can be accessed via the API you're using for the protect and temp sensors?

[2022-03-18 10:23] iMicknl commented on #63
Thanks for reporting! I am not sure why this doesn't work, since I don't see any exceptions in your log. Can you check your log to see if there are any warnings or exceptions? The subscriber listening for new data lines are correct. The subscriber will be reregistered when an event comes in and/or the subscriber is expired.

Do you have an idea what the `fork_posix.cc` line is in your log? I don't

[2022-03-18 10:24] iMicknl commented on #62
@ErikSGross are you sure that doorbell ring etc. are not implemented yet in the SDM API?

Here you find an example of how an XHR request would look like: https://support.deskpro.com/en/kb/articles/how-to-inspect-ajax-requests-with-chrome-tools

[2022-03-18 10:24] iMicknl commented on #61
You could probably check this via https://support.deskpro.com/en/kb/articles/how-to-inspect-ajax-requests-with-chrome-tools.

[2022-03-18 10:26] #59 closed

[2022-03-18 12:19] brooksben11 commented on #34
Here's what I got this morning:
2022-03-18 02:22:49 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: retrieving new Google access token
2022-03-18 02:24:52 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: listening for new data
2022-03-18 02:25:07 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: listening for new data
2022-03-18 02:25:14 DEBUG (MainThre

[2022-03-18 12:27] iMicknl commented on #34
Is there no message / error afterwards?

[2022-03-18 12:32] brooksben11 commented on #34
Correct, nothing at all from the last entry at 3am until about 15 minutes ago when I pulled it.

[2022-03-18 13:07] jprokopowich commented on #63
Hi,

Found these errors yesterday ,
2022-03-17 16:22:59 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: listening for new data
2022-03-17 16:22:59 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: retrieving new Google access token
2022-03-17 16:28:16 DEBUG (MainThread) [custom_components.nest_protect] Subscriber: listening for new data
2022-03-17 16:29:11 DEBUG (Main

[2022-03-18 13:27] iMicknl commented on #63
Thanks! It seems that it can recover from these errors, so I am not sure where we will miss a status update. I need to dive into this.

[2022-03-19 00:03] ErikSGross commented on #62
This is new to me, but poking around the XHR data, I see the following when I enabled a camera that was previously disabled:

There's a POST request to `https://webapi.camera.home.nest.com/api/dropcams.set_properties` with a payload of `streaming.enabled=true&uuid=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`

And then there's a response of:
[code]
I tried disabling the camera and I got basically the same th

[2022-03-19 00:08] ErikSGross commented on #62
Opening up the settings page of a doorbell results in this XHR entry:

GET request to: `https://webapi.camera.home.nest.com/api/cameras.get_with_properties?uuid=xxxxxxxxxxxxxxxxxxxxxxxxx`

Response is similar to above, but much more data proivided - the above entries are all contained within `items->properties`

[2022-03-19 00:16] ErikSGross commented on #61
I tried a few different things with the Nest Home Web App and it seems they've limited the security-related capabilities of the web app.  I found some details here:  https://support.google.com/googlenest/answer/9241220?hl=en&app=true&country=US&locale=en_US#zippy=%2Cnest-web-app-features

I can definitely see the state of the doors, door locks, and alarm from the web app, but I'm not seeing any wa

[2022-03-22 12:57] SeraphimSerapis opened #65 "Support FieldTest Environment"
### Description

Nest uses a Field Test environment that is served by different endpoints.

It would be fantastic if this integration would allow to select the field test environment in addition to the (default) prod environment.

[homebridge-nest](https://github.com/chrisjshull/homebridge-nest) is doing a great job managing the [endpoints](https://github.com/chrisjshull/homebridge-nest/blob/maste

[2022-03-22 13:32] iMicknl commented on #65
@SeraphimSerapis thanks for your feature request! What would be a reason to have a Field Test environment as a choice?

I indeed saw this feature in HomeBridge, however I didn't understand the need. :-)

[2022-03-22 13:35] SeraphimSerapis commented on #65
@iMicknl I appreciate your swift response. This environment is where Nest/Google employees and a sizeable group of external testers evaluate new features/actively reports issues with new app versions/... before they become available GA.

[2022-03-22 13:46] iMicknl commented on #65
Makes sense, it should be a relatively small change indeed. I am just thinking how to reflect this in the Home Assistant interface. Just a dropdown during initial configuration, where you can select 'Production' vs 'Field Test' environment sounds the best to me currently.

If this was just for Google employees, adding it to the Configuration Flow wouldn't make a lot of sense, but it makes sense if

[2022-03-22 14:00] iMicknl commented on #58
@jazzyisj could you create an issue on the front-end repository to track this? I think it would be great to have relative support for `date` sensors as well! For now I won't fix this in this integration, but perhaps we can add a small note to the README with your template sensor code?

[2022-03-22 14:05] iMicknl commented on #62
Thanks @ErikSGross! It seems that cameras use another endpoint, which I didn't implement yet. I am quite busy the coming period, but let's keep these issues open to track this request.

Perhaps someone else with cameras is willing to implement this and otherwise we need to wait. The HomeBridge repository uses these endpoints as well, thus could be a good example.

[2022-03-22 18:04] ejpenney opened #66 "Temperature Sensors Not Showing Up"
### The problem

Saw the release notes say Temperature Sensors should be added now (hooray!) I tried re-configuring the integration but my two temperature sensors aren't showing up.

I do see ```KeyError: 'serial_number'``` in the log, not sure if it's related (more details below)

### What version of this integration (ha-nest-protect) has the issue?

0.3.4

### What version of Home Assistant Core

[2022-03-23 23:58] ErikSGross commented on #63
Not sure if this is related, but adding in case it helps:

My Protect sensors in Home Assistant have been working well for about 2wk now.

Early this morning, my WAN connection went down for about 45min.  I noticed that all my Protect occupancy sensors kept their values from when the internet became unavailable and then they did not update for about 6 hours after the internet connection was restor

[2022-03-24 08:52] iMicknl commented on #66
Thanks for reporting! This should be a relatively easy fix, apparently the serial number is not included in your case, thus we should not use this while initializing the device.

[2022-03-25 04:40] mdegat01 commented on #57
Thanks so much for this integration! Was really missing my Nest protects in HA. I was a bit surprised by the number of sensors, I think it might be a good idea to have the diagnostic entities disabled by default. I think more users will want them disabled then enabled personally. Although a setting in the config flow does sound like the best of both worlds.

Just as an aside, making these attribut

[2022-03-25 04:52] mdegat01 opened #67 "Battery level sensor shows `unknown`"
### The problem

I noticed all my battery-powered nest protects seem to show `unknown` for their battery level sensor. The battery health sensor seems to be working but not the level one. Battery level only shows up for the temperature sensor.

I copied diagnostic information for one of them with this issue below. If other diagnostic info is needed let me know.

### What version of this integratio

[2022-03-25 05:10] mdegat01 commented on #56
This might be worth an [architecture discussion](https://github.com/home-assistant/architecture) if we can find a few other examples. I'm familiar with it from Nest Protects but I've had other Smoke/CO detectors in the past with the same idea. Like when I've lived in apartment complexes the smoke detectors all had this kind of state transition:

1) Idle - Nothing is wrong
2) Warning - Yours (and o

[2022-03-25 05:21] mdegat01 commented on #57
Another possible option here is to publish one more sensor which is "Test Status". It goes `on` when any test failed and `off` otherwise. And then have all the sensors for the individual tests disabled by default.

I know you can make this sensor easily enough as a binary sensor group but then you have to leave all the other ones enabled. If there was s test roll up sensor then you could just leav

[2022-03-25 05:41] mdegat01 commented on #56
I popped onto Zigbee2MQTT for some research since they have that great [supported devices](https://www.zigbee2mqtt.io/supported-devices) page. Obviously not a comprehensive source but they do have a lot of supported devices.

Found a few with a similar idea, a warning attribute. It's a bit broader then this use case but I believe Z2M is doing the aggregation not necessarily the device since it spe

[2022-03-25 06:35] iMicknl commented on #67
Thanks, I see it as well and indeed we should not show this sensor.

The value Nest exposes is in a range of 5000+, which doesn't make sense. Can you see the actual battery value in the official Nest app?

[2022-03-25 13:40] mdegat01 commented on #67
No, it doesn't show me the value there. And yea I saw the 5000+ in the diagnotistic data, had no idea what to make of that. Disabling it works 👍

[2022-03-25 14:06] ErikSGross commented on #67
Think the battery level value might be the voltage in mV?  Integers are often easier to work with than floats, so seeing units like mV or ms are reasonably common.

[2022-03-25 14:38] iMicknl commented on #67
This bug was introduced with the nest temperature sensor support. They have a battery level sensor which uses the same `battery_level` key; however this uses an integer value between 0 and 100.

I will need to check the value and/or type before adding them as entities. Would be great if they would just have standardized their state keys. :D

[2022-03-25 18:42] ejpenney commented on #66
Just for giggles I did this, along the way discovered "model" is also throwing a KeyError:

[code]

~~Now I get one of my sensors, but not the other.  I don't see any messages in the logs, not sure why that sensor gets ignored.~~

Just realized they're both added as the same device.  So my "Temperature" device in HASS has two temperature sensors and two battery sensors.

[2022-03-26 12:35] iMicknl commented on #66
Could you give https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/fix/66.zip a try? Extract this file and place `custom_components/nest_protect` in your `custom_components` folder.

By the way, if you login on https://home.nest.com/, can you see your temperature sensor? If so; what is the URL?

[2022-03-26 14:05] brooksben11 commented on #63
The occupancy sensor (and I presume all of the sensors, although I don't regularly have smoke in the house to check ;) ) gets locked to it's current state when the internet drops out. I found this out because I restart my router every evening; my temporary fix has been to schedule a HA restart shortly after my router restart.
@iMicknl, any luck into figuring this one out?

[2022-03-26 14:45] iMicknl commented on #63
@brooksben11 I haven't had time to have a look yet, however I should be able to pinpoint the issue and fix it :-).

[2022-03-26 16:09] ejpenney commented on #66
Yes I see them, the URLs are:
 - https://home.nest.com/thermostat/DEVICE_64166600002DDF82/settings/temperature-sensor/18B430C7F3F68AB8#options
- https://home.nest.com/thermostat/DEVICE_64166600002DDF82/settings/temperature-sensor/18B430CAF05468E8#options

I gave your patch a go and it looks great! I had to remove and readd the integration to cleanup the mess I made but I see 2 temperature devices,

[2022-03-26 23:59] ErikSGross commented on #62
I wanted to see what functiuonality homebridge currently exposes, so I spun up an instance and added the `homebridge-nest-cam` plugin.  For doorbells and Hub Max products, it exposes switches for streaming, chime, announcement, and audio.  There's a sensor and a switch for the doorbell button.  Also, there are sensors for:

- motion
- sound
- person
- package delivered
- package retrieved
- face -

[2022-03-27 00:04] ErikSGross commented on #61
I wanted to see what functiuonality homebridge currently exposes, so I spun up an instance and added the `homebridge-nest` plugin.  I then could access and control all of:

- smoke protector
- thermostat
- temperature sensor
- yale x nest door lock

The authentication method appears to be the same as what `ha-nest-protect` is using - namely log into home.nest.com with your Google account and get a

[2022-03-27 20:33] jazzyisj commented on #58
I think this may more a candidate for a feature request on the forum than an issue on the frontend git.  I don't believe there is any such animal as a date device_class.  Only timestamp.  Any time I've seen it come up the answer was convert it to a timestamp.  This integration is actually the first time I've come across any sensor sensor reporting a date instead of a full timestamp in a while.

A

[2022-03-28 21:59] iMicknl commented on #58
@jazzyisj date is a valid device class; according to the [developer documentation](https://www.home-assistant.io/integrations/sensor/#device-class). Other integrations use this as well to show a string that is a date string, and not a datetime string.

Thus a front-end feature request would be fine probably.

[2022-03-28 22:00] iMicknl commented on #61
They use the GRPC / protobuf API, however this works in another way and is hard to test and debug for me since I don't own any of these devices. When I have some more time in the future, I will perhaps give it another try, but for now this won't be implemented soon.

[2022-03-28 22:00] iMicknl commented on #62
They use the GRPC / protobuf API, however this works in another way and is hard to test and debug for me since I don't own any of these devices. When I have some more time in the future, I will perhaps give it another try, but for now this won't be implemented soon.

[2022-03-29 20:25] gminco commented on #56
I like the idea of having the 3 states, what would be the downside of having smoke/co/heat both as binary_sensor and as sensor (with the 3 states)?

[2022-03-30 21:39] kdknigga commented on #56
Just out of curiosity, does "warning" currently get lumped in with "ok", or "emergency"?

[2022-03-30 22:12] iMicknl commented on #56
Currently with 'off', thus 'clear'.

[2022-03-31 03:35] kdknigga commented on #56
Thanks!

[2022-03-31 19:09] Ibycus314 commented on #63
Seeing same problem here.  Interesting related to connectivity. I see it basically daily, reloading add-on fixes fir me.  My internet us kind of flakey so makes sense on that front. (Basically state gets stuck and refuses to update)

[2022-03-31 19:24] brooksben11 commented on #63
@Ibycus314 Yeah, I only notice the issue when I restart my router nightly, but my internet is rock-solid (I don't think it's ever dropped even momentarily in the 5 years I've lived here. Google Fiber for the win!). Outside of this issue, the integration has been awesome for me; my only complaint is the 10 minute deal with the occupancy sensor, but that's Google's fault.

@iMicknl I'm fine doing a

[2022-03-31 23:18] iMicknl commented on #63
@brooksben11, I recall that there should be a way to reload an integration / config entry. However, I will see if I can have a look at this someday. I agree that this is an important fix, but I just need to find some time to work on this. 😞

[2022-03-31 23:31] Ibycus314 commented on #63
I haven’t looked at the code, but could it be some kind of authentication issue? I’m assuming some kind of cookie or some such associated with the API transaction. I wonder if the connection attempt fails the system needs to re-authenticate?

[2022-03-31 23:38] iMicknl commented on #63
@Ibycus314 I think that the issue is that we don't retry this scenario. In order to make sure that we don't end up in a 'retry loop', we only restart the event listener for known excptions. It should be a relatively easy fix to check for disconnected exceptions, and retry accordingly.

[2022-04-01 01:27] Ibycus314 commented on #63
Sounds good, I’m sure you know your code *way* better than Me, I just know I’ve had tunnel vision in the past trying to track down bugs, figured a place to start anyways.

[2022-04-05 13:39] Ibycus314 commented on #63
Not sure if it helps, but I think it happens when the Smoke detector looses connectivity, rather than necessarily when the internet goes down (i.e. when home assistant looses connection). My microwave has a tendency to knock out my wifi, and just noticed the sensors seem to get stuck when the microwave runs (which shouldn’t impact home assistant’s connection)

[2022-04-06 13:00] jeffdeal opened #69 "Great integration! Pathlight question..."
### Description

This is an amazing integration!  I have 9 wired Nest Protect devices, and have one question so far.  In the configuration of the pathlight from within the Nest app, we can set it to off, on, or always on.  In HA the pathlight configuration shows up as a simple toggle switch with just on or off.  Is there any way to configure this as a drop-down like the brightness setting?

### De

[2022-04-06 14:13] iMicknl commented on #69
Thanks for reporting! I looked into this as well a while ago, they use internally 2 switches I believe, thus we need to map that in a different way.

Would you like to be able to change this via HA? Or is it a nice-to-have?

[2022-04-06 14:27] jeffdeal commented on #69
It certainly isn't a critical feature, more of a nice-to-have.  For one thing, it would immediately show that HA is communicating with one of the Protects to toggle the light on and off.  For a more practical use, I have a very dark finished basement where I normally keep the path light on.  When I have family staying overnight this area is used for sleeping space, and having the path light on is

[2022-04-07 12:29] elmigbot opened #70 "Nest Temp Sensors do not report unless component reloaded or HA restarted."
### The problem

Hello,

Thank you for the work here!

I've just configured this CC. My house has two thermostats and two temps sensors, both connected to the same thermostat, "Downstairs". (I also have 2 Protects and some cameras.)

After a day of testing, I can confirm it only updates the temperature after I restart HA or reload the Nest Protect component.

Nothing in logs to share. I did notice

[2022-04-11 21:02] Anto79-ops opened #71 ""Unknown exception. Live updates disabled" in logs"
### The problem

Hey thanks for thing integration and for your work here! awesome!

wanted to also bring to your attention an error log message. Any idea what it means?

[code]

### What version of this integration (ha-nest-protect) has the issue?

latest for today

### What version of Home Assistant Core has the issue?

core-2022.4.2

### Device / Model

Nest Protect Battery

### Diagnostics info

[2022-04-11 21:23] iMicknl commented on #71
Thanks! It seems that you lost internet connection and that this integration is not yet handling that in a good way.

The reason why we disable updates and print `Unknown exception. Live updates disabled. Please turn on debug mode and create an issue on GitHub.` is to make sure we don't keep hammering the Nest server when something goes wrong.

[2022-04-11 21:28] Anto79-ops commented on #71
ahhh that makes sense because it doesn't always show up in the logs. OK, thanks for explaining that! Cheers

[2022-04-11 21:34] iMicknl commented on #71
@Anto79-ops I will fix it, however that probably will take a few weeks. :-)

[2022-04-17 01:58] jazzyisj commented on #58
https://community.home-assistant.io/t/date-device-class-relative-display/412469

[2022-04-17 01:58] #58 closed

[2022-04-17 02:00] jazzyisj commented on #58
I was referring to being valid device class for display formatting in the UI.
Anyway, I've made the request.  Don't forget to vote for it! lol.

[2022-04-17 10:25] operinko commented on #71
[code]

Debug mode is enabled with, and that's all I'm seeing:
[code]

[2022-04-18 21:30] mdegat01 commented on #57
Small update - might want to also disable the config entities by default. And possibly put a warning about them in the readme. I tried to change one of them and nothing seemed to really happen. So I went in the nest app and changed the same and got a pop up warning like "this may take up to 24 hours" to take effect.

A 24 hour lag time kind of rules out any automation use case for them. You could

[2022-04-18 22:34] jeffdeal commented on #57
Are your Protects battery powered?  I've been experimenting by changing the "nightly promise" setting on my wired Protects, and I am getting very quick response.
________________________________
From: Mike Degatano ***@***.***>
Sent: Monday, April 18, 2022 5:31 PM
To: iMicknl/ha-nest-protect ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [iMicknl/ha-nest-protect] Massive number of "sensors"

[2022-04-22 22:11] simps100 opened #72 "Duplicate Config options"
### The problem

Hi,

I just did an updated to 0.3.4 - all seems to be working but it looks like config items are all duplicated - one seems to show as a switch and appears to work, and the other shows as "Unavailable" - is is OK to go through removing the ones which are not working or is there a problem in my config?

Thanks
Marc

![nest1](https://user-images.githubusercontent.com/60661312/164802

[2022-04-23 04:00] iMicknl commented on #72
This is indeed a breaking change. (See update change log). You can remove them or just remove and re add the integration config entry.

[2022-04-23 04:00] #72 closed

[2022-04-24 03:11] smdion commented on #70
Also adding that I am seeing this as well.

[2022-04-25 18:57] blue-hound opened #73 "KeyError on integration setup when area doesn't match"
### The problem

I didn't run into any errors during the setup, but when it was complete, my Nest Protects weren't found. The logs showed the following for all the entities the integration tried to set up. The line numbers vary of course but it happens for binary_sensor, sensory, select, and switch.

This seemed to be corrected when I made the areas in the Nest app match the areas in Home Assistan

[2022-04-25 19:19] blue-hound commented on #25
I have to agree with @mattdm, I've had my fair share of fun debugging automations that stopped working or did fun things that I didn't expect. For example, when my dogs monthly medications didn't get marked as given when I scanned an RFID tag because the integration author changed a variable from a string to an integer. I think silencing a life safety device automatically is dangerous and that abi

[2022-04-25 20:54] dgriswo commented on #25
@blue-hound You make valid points, but I have to oddly disagree with excluding the feature.

FLOSS: Free, **Libre**, Open Source Software.  The user should have the choice to disable a safety feature.  The responsibility as developers would be to convey the risks and dangers of the setting.  If a user intentionally disables the alarm, they are accepting both the risk and liability on their own beh

[2022-04-25 20:55] operinko commented on #73
The way to go would be to gracefully fall back on an unset area *if* automatic assignment fails like this.

[2022-04-25 23:03] mattdm commented on #25
I think this gets into a rather philosophical argument that isn't really best for this github ticket. Happy to take further discussion to Twitter or somewhere.

I will just say: choosing a free software license or otherwise to participate in open source does not obligate a developer to adopt a certain attitude about providing users options _in the software produced_ (either for or against). It mea

[2022-04-25 23:15] blue-hound commented on #25
I guess that is up to the developer and what he can live with. I'm a paramedic and a former firefighter. I am a hobby developer, I'd hate to read that something I developed may have contributed to someone's demise.

That's the last I'll say on the matter, I was just adding to the discussion and maybe pointing out something that the developer hadn't thought of.

It may also be a reason Google might

[2022-04-26 01:44] blue-hound commented on #73
That would work or do it like the other Nest integration or a combination. I just re-added my doorbell and thermostat as well and it asked what areas to put them in during the setup.

[2022-04-28 18:48] blue-hound commented on #73
When you say you only suggest areas, how is the suggestion made? I didn't get any suggestions. The integration for the other Nest products asked me where my doorbell and thermostat was located for example.

I didn't get that prompt from the Protect integration though. I picked the integration from the list and authenticated. It appeared in my integrations with no devices/entities associated with i

[2022-04-29 15:53] iMicknl commented on #71
@operinko could you perhaps see if this happens more often? Otherwise please create a new issue with more information.

[2022-04-29 15:56] iMicknl commented on #70
I would need to have a look at the HomeBridge source to understand in what way this will be updated... I don't own these temperature sensors myself and thus this is hard to debug / implement for me.

[2022-04-29 16:40] #71 closed

[2022-04-29 16:47] iMicknl commented on #73
![image](https://user-images.githubusercontent.com/1424596/165987894-8fe9b44a-7f18-4bf1-a3e6-406aff99e734.png)

They are assigned by default; above a screenshot of my development environment where I didn't create any areas myself yet. I will need to look into your diagnostics information. It looks like a mismatch between the where_id of your device and the available ids in the 'all Google areas qu

[2022-04-29 16:56] iMicknl commented on #63
@lbycus314 and there is no mention in your log when the data is not updated? This one is hard for me to reproduce unfortunately.

[2022-04-29 17:58] iMicknl commented on #65
@SeraphimSerapis could you give https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/support_field_test_env.zip a try? Extract this file and place `custom_components/nest_protect` in your `custom_components` folder.

[2022-04-29 18:02] iMicknl commented on #66
Fixed in 0.3.5. About your last error, I am not sure yet. If you face this more often, please create a new issue :).

[2022-04-29 18:02] #66 closed

[2022-04-29 18:06] iMicknl commented on #34
@brooksben11 let's track this in a new issue, since I fixed most of the issues in this issue. Could you create a new issue (with also some steps to reproduce). I will try to have a look in the coming weeks.

[2022-04-29 18:10] iMicknl commented on #25
Thanks all for your input and for sharing your thoughts. I did not look into this issue yet, however if I would know how to remote mute an alarm, I am not against implementing this.

I can imagine that people would like to send an emergency notification (iOS) via Home Assistant with the same functionality as the Nest app offers, thus a remote mute button. It is a shame that Nest didn't implement t

[2022-04-29 18:15] SeraphimSerapis commented on #65
Done! I got this:
[code]

[2022-04-29 18:33] SeraphimSerapis commented on #65
I tried fixing it by changing the following in `pynest/const.py`:
[code]

And in `pynest/client.py` I replaced every occurrence of `home.nest.com` with `f"{self.environment.host}"`. Example:
[code]

[2022-04-29 18:57] Ibycus314 commented on #63
Had a bit of a dig, looks like most of the sensors (line power, battery health, etc) all say “Became unavailable” then immediately come back. Occupancy just stops updating (is there a specific part of the logs you’d like?)

[2022-04-29 19:28] iMicknl commented on #65
Thanks, I will have a look! I missed that another URL is required as well. :)

[2022-04-29 19:31] iMicknl commented on #63
I wonder if there is an exception in your logs, or if this cannot be detected by our integration. In that case, we probably need to check if a device moves from unavailable to available and then refresh all states.

[2022-04-29 20:25] iMicknl commented on #65
@SeraphimSerapis could you try another version of https://github.com/iMicknl/ha-nest-protect/archive/refs/heads/enhancement/support_field_test_env.zip? :)

[2022-04-29 20:44] SeraphimSerapis commented on #65
Getting there! Entering the token works now, however devices are not retrieved. I get the following error:
[code]

[2022-04-29 21:09] iMicknl commented on #65
Thanks! Can you perhaps share your diagnostics information? I am not sure which other differences there are between both environments, I would say that 'service_urls' are still present...

[2022-04-29 21:17] SeraphimSerapis commented on #65
Ah, I believe I found the culprit:
[code]

This one would also need to change to `home.ft.nest.com`. So I changed it to `APP_LAUNCH_URL_FORMAT = "{host}/api/0.1/user/{user_id}/app_launch"` in `const.py` and applied this change to `client.py`:
[code]

Applied these changes and things work great now! Thanks for making this happen!

[2022-04-29 21:53] iMicknl commented on #65
Ah oops, I missed that one! Thanks, I will fix this and merge.

[2022-04-29 21:57] #65 closed

[2022-04-29 21:57] iMicknl commented on #65
Thanks for the debug help and to get this feature in! Could you confirm that latest `main` works?

[2022-04-30 05:33] SeraphimSerapis commented on #65
It seems like something in the config screen may have gotten lost in the merging process:
<img width="591" alt="Screen Shot 2022-04-30 at 07 31 29" src="https://user-images.githubusercontent.com/160543/166092777-1cdb84f5-5f3a-4a58-83be-0c00ec515f47.png">
<img width="398" alt="Screen Shot 2022-04-30 at 07 31 41" src="https://user-images.githubusercontent.com/160543/166092789-120bc5cc-7a2b-4624-bbe1

[2022-04-30 16:54] iMicknl commented on #65
@SeraphimSerapis to which language is your Home Assistant instance? I can not reproduce this behaviour. Can you double check if you replaced all files correctly? It seems that your translation folder didn't come through.

[2022-04-30 17:08] SeraphimSerapis commented on #65
@iMicknl Not sure what happened. I deleted the whole folder, cloned your main branch and am using that version now successfully. This is good to go! Thanks again!

[2022-05-03 15:01] brooksben11 commented on #63
So I recently did a quick test to determine whether it's the Nest devices or the Home Assistant instance losing connectivity that causes the sensors to stop updating (I also recently upgraded the Nest integration to the latest version, 0.3.5). I unplugged the ethernet cable to the Raspberry Pi running my Home Assistant instance for a few minutes and then reconnected. My logs look normal up until t

[2022-05-04 03:25] ErikSGross opened #78 "Unknown pynest exception: 502 Bad Gateway"
### The problem

New entries in the log as of updating to 0.3.5; filing bug report as requested in the logs.

Looking at the data from my Nest Protects, it seems that they have recovered from this state and are now reporting motion correctly.

### What version of this integration (ha-nest-protect) has the issue?

0.3.5

### What version of Home Assistant Core has the issue?

core-2022.4.7

### Dev

[2022-05-05 05:23] stefanuytterhoeven opened #80 "Inknown exception ?"
### The problem

Deze fout is ontstaan door een aangepaste integratie.

Logger: custom_components.nest_protect
Source: custom_components/nest_protect/pynest/client.py:177
Integration: Nest Protect (documentation, issues)
First occurred: 05:31:41 (1 occurrences)
Last logged: 05:31:41

Unknown exception. Please create an issue on GitHub with your logfile. Updates paused for 5 minutes.
Traceback (mos

[2022-05-06 14:19] iMicknl commented on #80
Thanks @stefanuytterhoeven! I will have a look if I can improve the logging to figure out the source of this issue. Nest returns something that we don't expect, but in this case the response is not correctly logged...

[2022-05-06 14:23] stefanuytterhoeven commented on #80
Fyi:
I have three battery powered nest protects

[2022-05-06 16:15] #70 closed

[2022-05-06 16:34] #78 closed

[2022-05-09 09:13] excalbian opened #83 "Expose the"
### Description

It would be helpful to see when the device last checked in. The following is displayed in the Nest UI for the device (this is a device I removed to change the batteries on - it's been offline for about a day):

<img width="303" alt="image" src="https://user-images.githubusercontent.com/242196/167378630-f18f554f-7542-479c-88de-6a059c4fbf5f.png">

I'm not sure what is in the API pay

[2022-05-09 09:23] iMicknl commented on #83
Can you share a screenshot of your device page? Via the /integrations page? I would say that your device should show up as offline / unavailable in Home Assistant already.

[2022-05-09 11:20] iMicknl commented on #83
Could you press 'download diagnostics' and drag this file in a new comment?

[2022-05-09 11:56] arrikhan opened #84 "Authorization Error Error 400: invalid_request Required parameter is missing: response_type"
### The problem

Successfully installed Nest Protect in HACS, and then when attempting to install on config page, I am prompted for an authorisation key.

On clicking authorise my account (assuming to get a key), I receive the following response.

[code]

Have tried this on the last few iterations of Home Assistant (current is 2022.5.2)

### What version of this integration (ha-nest-protect) has t

[2022-05-09 11:58] iMicknl commented on #84
Do you have a Google Account or do you try to login with a Nest Account?

[2022-05-09 23:13] arrikhan commented on #84
Ive transferred to a google account long ago. I have nest thermostat working with another integration.

[2022-05-10 13:49] excalbian commented on #83
Here you go. Note that I have already replaced the batteries (so the protect is back online) if that changes anything. I can take a protect offline this weekend if we want / need to do more testing.

[nest_protect-13456a17444baf6d46411fb1b7ddb6cc-Nest Protect (Living Room)-cc938f8c0539428b3a52e8d59b2199a8.json-2.txt](https://github.com/iMicknl/ha-nest-protect/files/8662091/nest_protect-13456a17444

[2022-05-10 15:50] iMicknl commented on #84
Can you add a screenshot of the error and where you get it? I will look into this, perhaps this is caused by a recent update.

Do I understand correctly that you face this error on the Google website?

[2022-05-10 19:07] Lajull-fr opened #85 "The state of CO Status and Smoke status are not detected on Nest Smoke on battery"
### The problem

Tank you for your job !
![image](https://user-images.githubusercontent.com/85118947/167703144-fb0ecc54-2dfd-4e38-8c1f-d06e9b5046ae.png)
![image](https://user-images.githubusercontent.com/85118947/167703218-16d425a5-f888-4e9d-bb2a-ca3a42777ee2.png)
![image](https://user-images.githubusercontent.com/85118947/167703268-6c4d3e7b-bc69-4425-9692-5c3680ec8d6e.png)

### What version of th

[2022-05-10 19:12] iMicknl commented on #85
Do you currently have smoke and CO in your house? 🔥

If not; I don't see the issue. 😉 Not detected means that there is no abnormal activity detected.

[2022-05-10 19:18] Lajull-fr commented on #85
Ah ok, I thought the sensors were not detected ^^
My bad ^^ and sorry for the bad indentation.
Thanks for your quick return ;)

[2022-05-10 19:30] #85 closed

[2022-05-15 14:48] arrikhan commented on #84
I tried the same process on a laptop rather than an iPad. The process worked successfully. I am not sure why it did not succeed using chrome on an iPad.

[2022-05-15 15:22] Ibycus314 commented on #63
Can confirm issue still present with latest releases. In terms of brooksben11’s comment, I would say either can loose connectivity and it be an issue. Every time I run my microwave for an extended period, it knocks out my wifi, causing the issue.

[2022-05-15 17:57] pcmoore opened #86 "RFE: add support for direct installation via HA add-on"
### Description

First off, thank you for your work on this, I and many others really appreciate what you've done here - thank you!

If you have the time, and inclination, it would be very nice if you could add support for installing this as a proper HA add-on.  I'm sure you aware of the docs already, but just in case here is a link to the HA docs on building add-ons:

* https://developers.home-as

[2022-05-15 18:04] iMicknl commented on #86
Thanks for your suggestion, @pcmoore! This is a component and not an add-on, thus this is not applicable. In the long term the plan would be to add this integration to core; however there are a lot of bugfixes and code quality changes that need to be applied in order to make it ready for core.

See the following explanation about [the difference between an add on and a component](https://www.reddi

[2022-05-15 18:04] #86 closed

[2022-05-16 22:02] olafvs opened #87 "Invalid authentication"
### The problem

After setting up in HACS I try to enter the token I got from google. But somehow it's not accepted. The token contains a '/' maybe it has someting to do with the problem...

I run docker with version 2022.4.7

### What version of this integration (ha-nest-protect) has the issue?

0.3.7

### What version of Home Assistant Core has the issue?

2022.4.7

### Device / Model

_No respo

[2022-05-17 17:39] iMicknl commented on #87
Thanks for reporting, @olafvs! We definitely need better error reporting there.

I will add this, however I have some feeling that you don't have a Google account yet, could this be the case?

[2022-05-17 19:50] olafvs commented on #87
I thought I already migrated, but I didn't. So I migrated just now, tried again, and now it works. Sorry for this.

Thanks for pointing this out.

[2022-05-17 19:50] #87 closed

[2022-05-20 07:45] olafvs commented on #80
Hi, I'm on 0.3.7 with more logging and also get this error.

`2022-05-20 01:27:24 ERROR (MainThread) [custom_components.nest_protect] Unknown pynest exception. Please create an issue on GitHub with your logfile. Updates paused for 1 minute.
Traceback (most recent call last):
File "/config/custom_components/nest_protect/pynest/client.py", line 259, in subscribe_for_data
result = await response.json

[2022-05-26 18:11] #84 closed

[2022-06-02 01:31] fabianluque commented on #83
I was about to request the same. Is it possible to add additional date sensors to make the last checked dates available in HA?

[2022-06-02 14:23] pcmoore commented on #83
I had a similar issue just this week where a WiFi issue left the alarms disconnected for several days and their status on my HA dashboard never switched to "unavailable" or similar.

[2022-06-07 22:58] craibo commented on #80
Good day @iMicknl

I have also started seeing the `Unknown pynest exception` error this morning

`
This error originated from a custom integration.

Logger: custom_components.nest_protect
Source: custom_components/nest_protect/pynest/client.py:263
Integration: Nest Protect (documentation, issues)
First occurred: 08:21:42 (1 occurrences)
Last logged: 08:21:42

Unknown pynest exception. Please creat

[2022-06-10 11:33] DigiLive opened #90 "Dutch Translation"
### Description

Just installed the integration on a dutch Home Assistant instance.
I've noticed the entities at sensors, configuration and diagnose sections are in English (E.g. Battery Health).

Do you care about getting them translated to dutch?

### Device (optional)

Nest Protect (Wired)

### Additional information

_No response_

[2022-06-10 11:38] DigiLive commented on #67
I think the same applies to the wired versions.

[2022-06-10 16:25] iMicknl commented on #90
Thanks for your suggestion. Unfortunately Home Assistant doesn’t support translating the entity names, thus this cannot be translated.

Everything that can be translated, should be translated already. I’m Dutch as well :-).

[2022-06-10 16:25] #90 closed

[2022-06-14 11:25] vandenbogerd opened #91 "Occupancy not shown?"
### The problem

In the screenshots of the add-on, we see occupancy, but in my installation (4 Nest Protects) it is not shown.

### What version of this integration (ha-nest-protect) has the issue?

0.3.7

### What version of Home Assistant Core has the issue?

core-2022.6.5

### Device / Model

Nest Protect (battery)

### Diagnostics information

_No response_

### Home Assistant log

_No respons

[2022-06-14 12:38] iMicknl commented on #91
Device limitation, as discussed in the README.

[2022-06-14 12:38] #91 closed

[2022-06-15 14:39] iMicknl commented on #80
@craibo which version do you run?

[2022-06-15 14:41] iMicknl commented on #83
If you could generate a diagnostics file when the issue is present (and one when it is fixed), would be very helpful. @excalbian

[2022-06-15 14:44] #80 closed

[2022-06-15 14:58] iMicknl commented on #73
@blue-hound any update? Otherwise I will close this issue, since I cannot reproduce.

[2022-06-15 15:17] iMicknl commented on #56
Would someone be able to trigger the warning (and emergency status) and gather diagnostics at that point? I assumed that they are using 1 / 2 / 3, however in my latest tests it seems they start at `0`... Would be good to understand if the main functionality of this integration is actually working.

[2022-06-15 15:48] iMicknl commented on #63
I am currently looking into this, however does the app show anything when there is no connectivity? In my situation I have disabled my wifi network for one of my Nest Protects, but it still shows green in the app...

[2022-06-15 16:47] Ibycus314 commented on #63
﻿Not that I’m been able to tell. Just doesn’t update status when it changes….

Sent from my iPad

Sent from my iPad

[2022-06-15 16:57] brooksben11 commented on #63
Same for me. From what I remember everything looks normal but it doesn't update.

[2022-06-15 20:06] kdknigga commented on #56
Just "Download diagnostics" and send the resulting text file after a smoke detection event?

[2022-06-15 20:14] iMicknl commented on #56
@kdknigga yes! And if possible, also if you first get a warning message.

[2022-06-16 18:59] blue-hound commented on #73
Sorry, I got busy. I will investigate some more on the next few days, I seemed to have missed your update back in April.

[2022-06-22 13:48] kdknigga commented on #56
[config_entry-nest_protect-e9c8b4f31b1b8ac2cfccff6f09ca939b_alarm.json.txt](https://github.com/iMicknl/ha-nest-protect/files/8958105/config_entry-nest_protect-e9c8b4f31b1b8ac2cfccff6f09ca939b_alarm.json.txt)
[config_entry-nest_protect-e9c8b4f31b1b8ac2cfccff6f09ca939b_headsup.json.txt](https://github.com/iMicknl/ha-nest-protect/files/8958106/config_entry-nest_protect-e9c8b4f31b1b8ac2cfccff6f09ca939

[2022-06-30 00:44] wjbridge commented on #67
I am getting the same `unknown` with the wired nest smoke detectors to confirm.

[2022-07-04 00:45] macnet1 opened #93 "Cant activate the nest protect from the integration section"
### The problem

I receive the following error when trying to loads the integration.

_Error
This integration does not support configuration via the UI. If you followed this link from the Home Assistant website, make sure you run the latest version of Home Assistant._

Thanks in advance for your help

### What version of this integration (ha-nest-protect) has the issue?

0.3.8

### What version of

[2022-07-04 07:09] iMicknl commented on #93
How did you install the integration? Can you check your logs?

[2022-07-04 22:38] macnet1 commented on #93
HI Mick, sure thing this is all I have in the logs:

Logger: homeassistant.config_entries
Source: config_entries.py:749
First occurred: July 4, 2022, 2:29:25 PM (1 occurrences)
Last logged: July 4, 2022, 2:29:25 PM

Error occurred loading configuration flow for integration nest_protect: No module named 'custom_components.nest_protect_old.pynest.const'

[2022-07-07 18:00] wesselkranenborg commented on #93
I'm having the same issue. It's also not available from the 'Add integration' dialog or on the home assistant website.

My repro path is clicking this link: https://my.home-assistant.io/redirect/config_flow_start/?domain=nest_protect

Click on 'OPEN LINK'
![image](https://user-images.githubusercontent.com/4964604/177839117-89d823e2-e66f-4658-b590-9c7aaa950ba9.png)

Then the following error is show

[2022-07-07 19:00] iMicknl commented on #93
@macnet1 did you rename the component? Why does it show 'nest_protect_old'?

@wesselkranenborg please include your log as well, otherwise I cannot debug this.

For both of you, if you are maybe not very familiar with custom components, you can also install this component via HACS.

[2022-07-08 00:26] macnet1 commented on #93
@iMicknl I renamed the folder as a result of the error message and tried to reinstall the component I don't understand why its picked up 'nest_protect_old'. I have now deleted that folder with still no change and in the logs I get -

Logger: homeassistant.config_entries
Source: config_entries.py:784
First occurred: 10:22:47 AM (1 occurrences)
Last logged: 10:22:47 AM

Error occurred loading config

[2022-07-08 03:39] nappyjim commented on #93
Hi all. I was gonna post I was having the same issue but then I had a "duh" moment.  Maybe its the same issue for you guys...

The Add integration button wont work until the you add the repository to HACS, then reboot, then click on the link again and it will work.  This was my issue.

So if you dont see this in your HACS INTEGRATIONS page, you will NEVER be able to use that link to add it to your

[2022-07-08 06:25] wesselkranenborg commented on #93
This was indeed the issue at my side, so my bad. Sorry.

It would indeed be nice if that's added to the readme. For newbies like me, that would be helpful :-).

[2022-07-08 08:34] iMicknl commented on #93
@wesselkranenborg @nappyjim not sure what I can add, any suggestions? Looking at the [README](https://github.com/iMicknl/ha-nest-protect#hacs) it already mentions that you need to install & reboot?

[2022-07-09 02:25] nappyjim commented on #93
Granted  both myself and @wesselkranenborg  should have read slower, but at quick glance I saw these directions as, "i can install this either manually or via Hacs.  If I want to do it through HACS, I just need to click the 'Add Integration' button and I should be done.

I would suggest splitting up the install into steps.  My eyes are drawn to numbered directions as opposed to one paragraph with

[2022-07-20 20:15] FoUStep commented on #67
I have both and I can also confirm.

[2022-07-20 20:20] FoUStep opened #94 "Replace by sensor (adjustable) date format"
### Description

The current date format is this
`2030-12-27T00:00:00`

Could you please make this in something more readable (and thus better scriptable) by removing the T00:00:00 as no time is available for the value "Replace By" the Nest Protect devices.

Would be nice to have an EU (or NL to me) date format or make it adjustable for the user: dd-mm-yyyy.

### Device (optional)

Both wired and

[2022-07-20 22:05] iMicknl commented on #94
Have a look at this similar issue: https://github.com/iMicknl/ha-nest-protect/issues/58#issuecomment-1068507456.

Currently it is a date object and you are able to use this within Home Assistant to do calculations and show it in a more human readable way.

[2022-07-20 22:34] FoUStep commented on #94
Missed this since it was closed (only looked at open ones). Sorry.

[2022-07-20 22:36] #94 closed

[2022-07-22 23:43] vparfaniuc opened #95 "Nest Sensors won't show up"
### The problem

For some reason the Nest Sensors linked to my thermostats won't show up with the Home Assistant. The seem to be working for a while but then they stopped working.
I can access the Nest Protects in my house but not the sensors. Any idea how to get these working are highly appreciated.
Thank you

### What version of this integration (ha-nest-protect) has the issue?

v0.3.8

### What

[2022-07-29 00:59] Anto79-ops opened #98 "AdGaurd Home list - transport.home.nest.com"
### The problem

Hi!

Just curious about the nature of the transport URL

`transport.home.nest.com`

Its possible that my AdGaurd home with a certain list is blocking this url.

https://github.com/home-assistant/core/issues/75275

I simple do not use that list anymore and all is fine. I could report as a false positive to the "The Blocklist Project- Ad", and tell them to take it off the list, but

[2022-07-29 18:56] Anto79-ops commented on #95
I believe this integration is only for the NEST Protect.

You'll need to use HA Nest integration for your thermostat.

https://www.home-assistant.io/integrations/nest/

[2022-08-23 19:00] Skates1616 commented on #95
Sensors definitely work, just added an integration today and they populated.

[2022-08-24 12:25] blackie333 commented on #67
I have a battery powered version and also see "Unknown".
Would be a great feature for me to know the approx. battery level, must not be precise, just to know in advance when to prepare new batteries for replacement.

[2022-08-24 14:13] iMicknl commented on #67
@blackie333 you should have another sensor that shows this already.

[2022-08-25 04:56] blackie333 commented on #67
You mean "Battery Health" sensor? It's reporting status "Normal", not sure what other possible values it can report.
If it reports warning when battery is low then it's good enough for me. Thanks

[2022-08-25 07:38] iMicknl commented on #67
This is a binary sensor which will report 'Problem'. (on vs off)

[2022-09-11 11:52] jprokopowich opened #99 "ClientOSError: [Errno 104] Connection reset by peer"
### The problem

This error originated from a custom integration.
[code]

### What version of this integration (ha-nest-protect) has the issue?

v0.3.8

### What version of Home Assistant Core has the issue?

2022.8.7

### Device / Model

Nest Protect wired

### Diagnostics information

[nest_protect-35892183b4b12d5b93434ae1d74a1b83-Nest Protect (room)-6befb339d901031fa0f94e3cf79e03cc.json.txt](ht

[2022-09-22 23:05] schmittx opened #100 "Add switch entity for Home/Away control"
### Description

Another feature lacking from Nest SDM is the ability to toggle home/away for the structure.

The `structure.xxx` data bucket already includes the `away` boolean parameter, so I believe it should be an easy addition (no protobufs required?).

### Device (optional)

Structure

### Additional information

_No response_

[2022-09-29 21:40] broken opened #101 "Support the Nest Detect motion & door sensors"
### Description

I still have a Nest Secure and some of Nest Detect door sensors which detect motion and door activity.  Do you believe support can be added for these?

I just skimmed the code and was wondering if they would be one of those other bucket types (ie quartz).

### Device (optional)

_No response_

### Additional information

_No response_

[2022-09-30 05:35] waseltzer opened #102 "KeyError: 'objects'"
### The problem

2022-09-29 23:21:57.036 ERROR (MainThread) [custom_components.nest_protect] Unknown exception. Please create an issue on GitHub with your logfile. Updates paused for 5 minutes.
Traceback (most recent call last):
  File "/config/custom_components/nest_protect/__init__.py", line 152, in _async_subscribe_for_data
    for bucket in result["objects"]:
KeyError: 'objects'

### What vers

[2022-10-03 11:40] swests opened #103 "Unknown pynest exception. Please create an issue on GitHub with your logfile"
### The problem

Seen this error in my HA log:
Unknown pynest exception. Please create an issue on GitHub with your logfile. Updates paused for 1 minute.

### What version of this integration (ha-nest-protect) has the issue?

0.3.8

### What version of Home Assistant Core has the issue?

2022.9.5

### Device / Model

Protect wired (Topaz-2.7 and Topaz-2.9), Firmware 3.4.1rc1

### Diagnostics infor

[2022-10-05 10:56] galamarco opened #104 "The smoke alarm comes on but there is no trace in the home assistant"
### The problem

I received the alarm notification of a Nest Protect that has detected smoke (push notification from Nest) but there is no trace of the alarm in the logs in the home assistant.

### What version of this integration (ha-nest-protect) has the issue?

0.3.8

### What version of Home Assistant Core has the issue?

2022.9.7

### Device / Model

Nest protect Topaz-2.33 (with cable power

[2022-10-07 19:24] WKHarmon opened #105 "Error 400: invalid_request when authenticating with Google"
### The problem

I installed the ha-nest-protect integration through HACS and restarted. I'm trying to add the integration now and when I click on the "authorize your account" link I get this error:

<img width="458" alt="Screen Shot 2022-10-07 at 12 20 03 PM" src="https://user-images.githubusercontent.com/245099/194638463-1f51bfda-dbca-407c-b678-93d786a191fc.png">

Clicking into the error details

[2022-10-07 19:30] WKHarmon commented on #105
I found this page: https://developers.google.com/identity/protocols/oauth2/resources/oob-migration

I was successfully able to get a token by appending a `ack_oob_shutdown=2022-10-03` parameter to the query string on the auth url.

[2022-10-09 07:04] MarElemans commented on #105
Thanks! Worked for me

[2022-10-10 06:57] kcline commented on #105
You're solution worked for me too, just commenting to say thanks and add that you need to append &ack_oob_shutdown=2022-10-03 to the url provided in the setup steps (right click the link from HA and copy url, append the command to the link, then paste it into a browser).

I'm definitely not a programmer, more of a tinker'er, so this took me a bit longer to remember to add the & to properly append

[2022-10-10 12:31] epenet opened #106 "Options is available as a standard property of SelectEntityDescription"
### The problem

As of Home Assistant Core 2022.11, options is available as a standard property of SelectEntityDescription.
This may cause issues in custom components if a custom options property was previously implemented.

Please adjust the custom component by either dropping or renaming the custom options property.

See https://github.com/home-assistant/core/pull/78882

[2022-10-10 12:57] iMicknl commented on #106
Thanks @epenet, I saw your PR passing by and will fix it in the custom component. Good improvement to core.

[2022-10-10 13:01] epenet commented on #106
Please be aware that this will only be available from 2022.11 release.
If you wish to be compatible with both 2022.10 and 2022.11 you may need to rename the options property.

[2022-10-10 15:12] iMicknl commented on #105
I will have to fix this in the component indeed; however it worries me that this will eventually be deprecated.

[2022-10-12 17:22] pacifer93 commented on #105
I just tried it myself and got the same error but my solution was to press use another account then just use the same google account and it worked. (it gives out a warning about soon it will be deprecated) but yeah quick fix..

[2022-10-13 19:57] semple1990 commented on #105
Just highlighting kcline's comment about adding the & as i missed that briefly and wondered why it wasn't working.

So the authorization url should end in `...apps.googleusercontent.com`

You'll want to add `&ack_oob_shutdown=2022-10-03` to the end to make:

`...apps.googleusercontent.com&ack_oob_shutdown=2022-10-03`

[2022-10-13 20:11] FlyersPh9 commented on #105
Appending `&ack_oob_shutdown=2022-10-03` to the end of the URL copied from in HA wasn't working for me.  I instead opened the link incognito and was able to get my access token that way.

[2022-10-16 18:32] jpearce73 commented on #105
I am getting something slightly different out of the UI link. I already have an extra parameter. My URL looks like this
https://.............apps.googleusercontent.com&flowName=GeneralOAuthFlow
Perhaps because I have a few Google accounts?
The reply gives me this page
![image](https://user-images.githubusercontent.com/19938737/196051822-cbab88f8-5dee-48b8-946b-cd507451676c.png)

Continuing with my

[2022-10-18 08:58] redford-jones commented on #105
The workaround above appears to have stopped working, at least for me. I consistently get a 400 despite adding the query string shown above.

[2022-10-18 20:49] tre4b commented on #105
I too have this issue, exactly the same as the OP.

One thing I wondered is whether this is down to the fact that the google account I am using is not my default account.  That one is a GSuite account and Nest does not work with those so I had to create an individual account.   I am logged into that account when I attempt to link the integration but get the message above...

[2022-10-19 08:24] hallidaydaniel commented on #105
yes, I get the same behaviours as this now sadly - not managed to find work around

[2022-10-19 11:36] idroyHA commented on #105
Also the same issue. With &ack_oob_shutdown=2022-10-03 still a 400 error.

[2022-10-19 18:01] benceh90 commented on #105
The same problem here. OOB is outdated :(

[2022-10-20 18:34] Tatey53 commented on #105
Yes, I can confirm that I get the same 400 error, and adding &ack_oob_shutdown=2022-10-03 gets me past it, but after selecting my account if goes back to the same 400 error
![error](https://user-images.githubusercontent.com/113981314/197030141-a96c97b7-cf95-4d18-931b-5846e590987b.png)

[2022-10-21 04:55] sidplayos2 commented on #100
+1 for this.

[2022-10-21 19:17] pmkruyen commented on #105
After I encountered this problem and solved it(?), I read this thread.

Original approach
- made new google account
- Set up nest account in app (ios)
- Ran login.js in Homebridge
- —> error

Solution:
- Logged in on Nest portal, had to give Nest access to my account
- Started a ne sesion of homebridge in incognito browser
- Ran login.js
- —> Solves

(Don’t know if the plugin works now, because I

[2022-10-22 23:24] simtreti commented on #105
@iMicknl Will you update the repo to correct that issue ?

[2022-10-23 10:50] iMicknl commented on #105
@simtreti eventually, yes. However my time currently is very scarce, so I am open to PR's.

I am not a fan of the cookie method, I have to say, since this is not an easy method for many users. I will need to say if there can be a workaround for this issue, but that will take time.

[2022-10-23 15:10] simtreti commented on #105
@iMicknl Take your time it was just to know if I need to check elsewhere to integrate my new nest protect into HA.

[2022-10-26 16:26] m3tc0n commented on #105
I have the same problem. Hopefully this will be resolved soon.

[2022-10-26 18:31] sadicarnot commented on #105
Before I got into Home Assistant, I had gotten the Starling Home Hub and I was able to get the Protects into Home Assistant via the Starling and HomeKit Controller.

[2022-10-27 08:19] Monacoslo commented on #105
So what is now the solution, how to get Access Tooken now?

[2022-10-27 14:47] iMicknl commented on #105
Depending on what they use, we could change this integration as well. Unfortunately, the most user-friendly way of generating a token does not seem supported anymore.

**Currently my time is very limited, thus I did not have time to look into this issue. Contributions to this integration are always welcome. Otherwise, we would just need to wait.** If you are able to generate a token in a different

[2022-10-27 16:56] fishbone-git commented on #106
I believe this is now causing a problem in the 2022.11b0
2022-10-27 18:49:48.655 ERROR (MainThread) [homeassistant.loader] Unexpected exception importing platform custom_components.nest_protect.select
2022-10-27 18:49:48.662 ERROR (MainThread) [homeassistant.setup] Unable to prepare setup for platform nest_protect.select: Platform not found (Exception importing custom_components.nest_protect.selec

[2022-10-27 21:10] fishbone-git commented on #106
easy fix, I just removed line 18 of select.py

[2022-10-27 22:11] iMicknl commented on #106
@fishbone-git I will release a new version soon. I planned to do this just before the release, however it makes sense to do this earlier in case you want to try the beta.

[2022-10-27 22:33] jazzyisj opened #107 "v2022.11.0b0 - ERROR Unexpected exception importing platform custom_components.nest_protect.select"
### The problem

LED brightness select not compatible with v2022.11.0

### What version of this integration (ha-nest-protect) has the issue?

0.3.8

### What version of Home Assistant Core has the issue?

v2022.11.0b0

### Device / Model

Topaz-2.7 (Nest Protect Battery)

### Diagnostics information

[nest_protect-6badbf373ba688e8e2b26f1aa282240e-Nest Protect (Downstairs)-6b8df5124c35887b64d9ede2e

[2022-10-27 22:38] velaar commented on #107
Thank you for posting! I can confirm the issue exists in my setup as well. I tried to fiddle with the code a little but no solution.

[2022-10-28 00:26] jazzyisj commented on #107
@velaar Thanks for pointing it out, guess I didn't look close enough...

[2022-10-28 00:26] #107 closed

[2022-10-28 07:01] B-Hartley opened #108 "HA 2022.11 Beta - Unable to prepare setup for platform nest_protect.select: Platform not found"
### The problem

Unable to prepare setup for platform nest_protect.select: Platform not found (Exception importing custom_components.nest_protect.select).

Home Assistant 2022.11.0b1
Supervisor 2022.10.2
Operating System 9.3
Frontend 20221027.0 - latest

### What version of this integration (ha-nest-protect) has the issue?

0.3.8

### What version of Home Assistant Core has the issue?

2022.11.0b1

[2022-10-28 07:20] Monacoslo commented on #105
But are there any other options how to get token?

[2022-10-28 09:07] iMicknl commented on #108
Duplicate of #106

[2022-10-28 09:07] #108 closed

[2022-10-28 13:29] iMicknl commented on #105
@Monacoslo @MaJonker let's move the asks / discussion to the Home Assistant Community Forum: https://community.home-assistant.io/t/support-for-nest-protect/310084/last.

Unfortunately, Google changed their authentication mechanism, and this was a risk we knew from the beginning. The aim of this integration was to offer the most user-friendly way of authenticating to Nest server and including Nest

[2022-10-28 21:58] Anto79-ops opened #110 "HA Core version 2022.11b1 breaks the integration"
### The problem

Hi all,

Looks like 2022.11b1 breaks the integration. :(

Got some warnings to show:

[code]
and

[code]
and

[code]

and

[code]

### What version of this integration (ha-nest-protect) has the issue?

0.0.38

### What version of Home Assistant Core has the issue?

2022.11.b1

### Device / Model

Nest Protect Battery

### Diagnostics information

_No response_

### Home Assistant

[2022-10-28 23:08] fishbone-git commented on #110
see bug 106

[2022-10-28 23:08] fishbone-git commented on #110
see #106

[2022-10-28 23:57] Anto79-ops commented on #110
Awesome I'm glad it's already known cheers!

[2022-10-29 00:33] #110 closed

[2022-10-30 17:47] brownla-ha opened #111 "Unable to prepare setup for platform nest_protect.select: Platform not found (Exception importing custom_components.nest_protect.select). 8:41:23 PM – (ERROR) setup.py"
### The problem

I've been using Home Assistant for a little while.  I recently installed HACS on my "Dev" system to get some of the capabilities missing from HA that I had another home automation system.  I came across this plugin and it was up and working in no time.  I have tested the latest beta builds from HA; 2022.11.0b0, 2022.11.0b1, 2022.11.0b2 and 2022.11.0b3.  In every one of them the Ne

[2022-10-30 17:54] iMicknl commented on #111
Duplicate of #106.

[2022-10-30 17:54] #111 closed

[2022-10-31 10:28] #106 closed

[2022-10-31 15:31] Anto79-ops commented on #106
hey, awesome thanks for the fix!

How long does it take for HACS to know an update for this integration is available? simply "updating information" does not show 0.3.9 version. thanks

[2022-10-31 15:52] iMicknl commented on #106
@Anto79-ops do you run 2022.11? This update is only available for users running 2022.11, since it will break 2022.10 functionality.

[2022-10-31 15:53] Anto79-ops commented on #106
Im running 2022.11b4 now

[2022-10-31 16:02] Anto79-ops commented on #106
ok, all good. it was redownload that solved the issue. cheers!

[2022-11-02 22:55] Anto79-ops opened #112 "updating to 0.3.9 on HA 2022.11"
### The problem

Hey,

I'm running HA Core 2022.11 and trying to update the integration but says this:

![image](https://user-images.githubusercontent.com/79593761/199617753-731fdf28-d629-49fd-81ee-76c709cc3ccc.png)

I guess I can manually update it, but not sure if that would create another issue

Related to this https://github.com/iMicknl/ha-nest-protect/issues/106

thanks!

### What version of

[2022-11-03 02:01] tobycth3 opened #114 "Platform errors after HA 2022.11"
### The problem

Logger: homeassistant.setup
Source: setup.py:320
First occurred: 9:47:25 PM (1 occurrences)
Last logged: 9:47:25 PM

Unable to prepare setup for platform nest_protect.select: Platform not found (Exception importing custom_components.nest_protect.select).

This error originated from a custom integration.

Logger: homeassistant.loader
Source: custom_components/nest_protect/select.py

[2022-11-03 02:02] nathan-curtis commented on #114
Confirm - same issue after update to 2022.11.1

[2022-11-03 02:16] nicosaurus commented on #114
I am getting the same. Just updated to 2022.11

[2022-11-03 03:00] wystewart commented on #114
same here. but I think the integration is still working, still has my three nest protect and the occupancy sensor changes state

[2022-11-03 03:37] Anto79-ops commented on #114
version 0.3.9 should fix this, but there was a small detail missing that prevents you from updating to 0.3.9. should be fixed here

https://github.com/iMicknl/ha-nest-protect/issues/112

[2022-11-03 07:04] bmdadu opened #115 "0.3.9 dont updetae becauseits say ther i have ha 2022.11.0 but uapdate require 2022.11"
### The problem

0.3.9 dont updetae becauseits say ther i have ha 2022.11.0 but uapdate require 2022.11

### What version of this integration (ha-nest-protect) has the issue?

0.3.9

### What version of Home Assistant Core has the issue?

core-

### Device / Model

_No response_

### Diagnostics information

_No response_

### Home Assistant log

<details><summary>Logs</summary>
[code]

</details>

[2022-11-03 07:18] daxzor commented on #104
I too am experiencing this. It is the worst way the integration could fail

[2022-11-03 08:24] kingzize commented on #114
Same problem in 2022.11

This error originated from a custom integration.

Logger: homeassistant.loader
Source: custom_components/nest_protect/select.py:23
Integration: Nest Protect (documentation, issues)
First occurred: 08:47:28 (1 occurrences)
Last logged: 08:47:28

Unexpected exception importing platform custom_components.nest_protect.select
Traceback (most recent call last):
  File "/usr/src/

[2022-11-03 08:44] iMicknl commented on #104
@daxzor happy to look at this, but in the past there was no one that could test this for me.

Do you have the same issues as above, or does it just not show up?

[2022-11-03 08:44] #114 closed

[2022-11-03 08:44] iMicknl commented on #115
Duplicate of #112.

[2022-11-03 08:44] #115 closed

[2022-11-03 08:45] #112 closed

[2022-11-03 14:03] Muzach opened #116 "Unexpected exception importing platform custom_components.nest_protect.select"
### The problem

Log Details (ERROR)

This error originated from a custom integration.
Logger: homeassistant.loader
Source: custom_components/nest_protect/select.py:23
Integration: Nest Protect ([documentation](https://github.com/imicknl/ha-nest-protect), [issues](https://github.com/imicknl/ha-nest-protect/issues))
First occurred: November 2, 2022 at 8:35:12 PM (1 occurrences)
Last logged: Novembe

[2022-11-03 14:06] #116 closed

[2022-11-03 14:22] guarddog13 opened #117 "Nest Protects Unavailable Update 2022.11.1"
### The problem

When updating to 2022.11.1 the Nest Protects are unavailable. They give a warning notification on HA with the following in the logs.

[code]

![Screenshot (21)](https://user-images.githubusercontent.com/31947215/199744177-a5407085-0dc8-4fca-92c5-2a796f80f55c.png)
If you try setting them up again the following error occurs on Google.

![Screenshot (22)](https://user-images.githubus

[2022-11-03 14:22] Anto79-ops commented on #112
@iMicknl and @markvader thanks for fixing!

[2022-11-03 14:24] guarddog13 commented on #117
Sorry I see it's fixed.

[2022-11-03 14:24] #117 closed

[2022-11-03 23:28] thenoid commented on #116
@Muzach I've started seeing this same issue, you opened/closed - any insight?

[2022-11-03 23:29] Muzach commented on #116
There is an update in the HACS plug-in version that resolves the issue

[2022-11-04 11:41] hoorna commented on #105
@bmdadu, I installed [Homebridge Docker](https://github.com/oznu/docker-homebridge) on a Synology NAS which is working for sure. Then I installed the plugin Homebridge Nest without a problem. In the plugin I have to choose a connection methode to Google. From the documentation I understand I have to use the "Google Account - Cookies" method as "Google Account - Refresh Token" is not working anymor

[2022-11-04 14:39] atv2016 opened #118 "Platform not found?"
### The problem

I am getting this in the logs after a restart now:
Logger: homeassistant.setup
Source: setup.py:320
First occurred: 14:23:10 (1 occurrences)
Last logged: 14:23:10

Unable to prepare setup for platform nest_protect.select: Platform not found (Exception importing custom_components.nest_protect.select).

### What version of this integration (ha-nest-protect) has the issue?

can't fin

[2022-11-04 15:21] iMicknl commented on #118
Please update to the latest version of ha-nest-protect, you are probably not running the latest version.

[2022-11-04 15:21] #118 closed

[2022-11-05 08:10] atv2016 commented on #118
yeah i saw an update, this is resolved now. thanks!

[2022-11-09 06:27] bmdadu commented on #105
Yes, IT Will. As long as you dont logout.

[2022-11-10 19:42] pwwukpw commented on #105
Getting same error following Google account password change. The append does not work .. any  ideas ?

![Screenshot_20221110_193633_Samsung Internet](https://user-images.githubusercontent.com/88422402/201190909-57d13754-2735-455b-8a42-363499e2f5c3.jpg)

[2022-11-14 11:37] Snomisleor opened #119 "Can't access the integration"
### The problem

After Downloading the repository, (checked in file explorer) accessing the integrations fails instantly stating:

Fout
Config-flow kon niet geladen worden: {"message":"Invalid handler specified"}

### What version of this integration (ha-nest-protect) has the issue?

0.3.10

### What version of Home Assistant Core has the issue?

core- 2022.11.2

### Device / Model

N/A

### Diagn

[2022-11-16 09:13] #119 closed

[2022-11-16 09:34] iMicknl commented on #119
@Snomisleor what was the solution? I think you didn't install it in the right way, but it would be great if you can share what solved it for you.

[2022-11-19 07:55] Lazy8onez commented on #105
Did anyone find a solution for the authorization issue?
I am getting the "Access Blocked" error.
Appending "&ack_oob_shutdown=2022-10-03" does not help for me.

[2022-11-21 01:24] JunctionArsonist commented on #105
still broken...

[2022-11-21 08:31] dbohman18 opened #120 "Google authentication does not work - Invalid request"
### The problem

When trying to get the Google authentication token, Google responds with "Invalid request". More details to be found in the screenshot:

![image](https://user-images.githubusercontent.com/55232401/203001913-a3376e69-cbef-4031-9d77-8d30b22b9927.png)

### What version of this integration (ha-nest-protect) has the issue?

0.3.10

### What version of Home Assistant Core has the issue?

[2022-11-21 08:34] #120 closed

[2022-11-21 08:48] iMicknl commented on #105
See https://community.home-assistant.io/t/support-for-nest-protect/310084/169?u=imick.

[2022-11-22 19:20] danieldevos90 opened #122 "Failed to connect error while using cookies"
### The problem

Can you guys help me with this error? I logged in on home.nest.com and followed the guide after I got the other issue on logging in.

[code]

### What version of this integration (ha-nest-protect) has the issue?

0.3.10

### What version of Home Assistant Core has the issue?

2022.11.3

### Device / Model

Raspberry Pi

### Diagnostics information

_No response_

### Home Assistan

[2022-11-23 15:40] iMicknl commented on #122
Are you using #121?

[2022-11-23 15:50] danieldevos90 commented on #122
I use this package: 5dd36d1

And my issueToken looks like;
https://accounts.google.com/o/oauth2/iframerpc?action=issueToken&response_type=token id_token&login_hint=AJDLj6LQu....

and cookie like;
__Secure-3PSID=QwjE_wMpEk7E0L2Uq13vknwx7AQ-Oj499QlOAnqZIACxXDQLD5jJ9rt82PfgUmUjYiMF8Q.; __Secure-3PAPISID=VQpD3LYfCAbxLswI/ALTk4EDLUM84AmCD1; NID=511=dWV6MqCYXe7x3WtdIgWYuAiCrmNbY0UPHWz33mk2Kob---BaSlCtaO

[2022-11-25 09:52] danieldevos90 commented on #122
@iMicknl Do you maybe have any id? Missing user credentials?

[2022-11-25 10:17] iMicknl commented on #122
I don't have time to look at this currently, and you are also not running my code. 😉

[2022-11-25 15:35] janusn commented on #105
@iMicknl Could you tell me which file to be modified in order to use the issue_token and the cookies retrieved from the method in the link?

Is it the configuration.yaml in the HomeAssistant configuration directory? Should it be written as follow?

[code]

[2022-11-25 15:36] IceBotYT commented on #105
I used the UI config flow and put it in there instead of configuration.yaml

[2022-11-25 15:43] janusn commented on #105
@IceBotYT

Thanks for the quick reply. Could you enlighten me on how to convert issueToke and cookies into Access Token?

<img width="504" alt="Screen Shot 2022-11-25 at 3 40 46 pm" src="https://user-images.githubusercontent.com/21253783/204018583-b6609519-c4df-4374-9612-e811e5ae8ffe.png">

[2022-11-25 15:53] IceBotYT commented on #105
You have the wrong repo added.

1. Go to the HACS tab.
2. Remove the old Nest Protect repo.
3. Press the ellipsis (...) menu in the top right.
4. Press custom repositories.
5. Paste in `https://github.com/nicoinch/ha-nest-protect` into the `Repository` field.
6. Set the `Category` field to `Integration`.
7. Click Add.
8. You will see a new Nest Protect integration in HACS. Download it.
9. Once dow

[2022-11-25 16:24] janusn commented on #105
@IceBotYT

Thanks a ton! It works now!

[2022-11-25 16:28] MaJonker commented on #105
Dude you are a lifesaver - it finally works....! That costs me a few years of my life but THANKS for the clear explanation!

[2022-11-27 15:26] jhbehrens23 opened #123 "Cannot get access token"
### The problem

When you press 'authorise your account' in configuration flow, Google throws the following error:

Access blocked: Nest’s request is invalid

name@email.com
You can’t sign in because Nest sent an invalid request. You can try again later, or contact the [developer](https://github.com/iMicknl/ha-nest-protect/issues/new?assignees=&labels=bug&template=bug_report.yml) about this issue.

[2022-11-27 15:36] iMicknl commented on #123
Duplicate of https://github.com/iMicknl/ha-nest-protect/issues/105

[2022-11-27 15:36] #123 closed

[2022-11-28 10:50] danieldevos90 commented on #105
Is there anyone who has the same problem as I have? I fill in the issue token and the cookies but I got this error message!

`Traceback (most recent call last):
  File "/config/custom_components/nest_protect/pynest/client.py", line 220, in authenticate
    self.nest_session = NestResponse(**nest_response)
TypeError: NestResponse.__init__() got an unexpected keyword argument 'error_description'

Du

[2022-11-28 10:52] hammer-of-thor commented on #105
I used this a few hours ago and it worked  fine for me. Which guide did
use? To do the set-up?

On Mon, 28 Nov 2022, 11:51 danieldevos90, ***@***.***> wrote:

[2022-11-28 10:56] danieldevos90 commented on #105
The flow of IceBotYT. And I did it in incognito mode.

[2022-11-28 11:52] Erwin537 commented on #105
For me incognito doesn't allow cookies so doesn't work. I used Edge instead.

[2022-11-28 12:05] danieldevos90 commented on #105
It is sooo weird, I got this issue as well on Brave and Safari..

[2022-11-29 13:58] x-luthor commented on #122
Hey There,

Thanks for this integration.  I got it working with some help last Friday but it seems to lock up (stop updating) after about 4-5 hours.   A re-boot fixes the issue.  This occurrs consistently for me and a friend running the same integration.

![Failure](https://user-images.githubusercontent.com/73357736/204548080-b8378c81-5782-43bc-889f-46c3895dfb0a.png)

Is anyone else experiencing t

[2022-11-29 22:36] raym777 commented on #105
Thank you very much for this.

The only issue I'm noticing is that occupancy statuses of my smoke sensors don't appear to be updating. They have been stuck in "Detected" for 19 hours now (since my last HA restart). Anyone else?

[2022-11-30 08:02] Lazy8onez commented on #105
I am probably missing something. Can someone please guide me on how to get the Issue_token and cookies? Thanks!

[2022-11-30 11:23] JAudi23 commented on #105
I followed these instructions using Chrome Incognito mode and it seems to be working for me:
https://github.com/nicoinch/ha-nest-protect

[2022-11-30 12:12] Lazy8onez commented on #105
Perfect!
It worked for me on Edge.
Thanks!